# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

S

##### 2. Does the data look complete? Are there any obvious issues with the observations?

##### 3. Create a data dictionary for the dataset.

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [2]:
import csv
with open("../assets/sat_scores.csv") as a:
    reader = csv.reader(a)
    sat = []
    for row in reader:
        sat.append(row)

##### 5. Print the data

In [3]:
sat

[['State', 'Rate', 'Verbal', 'Math'],
 ['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [4]:
labels = sat[0]
data = sat[1:len(sat)-2]
all_line = sat[len(sat)-1]
data

[['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599']]

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [5]:
states = []
for row in data:
    states.append(row[0])
states

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND']

##### 8. Print the types of each column

In [6]:
#for col in labels:
#   for row in data:
#       t = type(row)
#       print(col, t)
#how to check and make sure all items in a column are of the same type
for i in range(len(labels)):
    print labels[i], type(data[0][i])

State <type 'str'>
Rate <type 'str'>
Verbal <type 'str'>
Math <type 'str'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

In [7]:
for a in range(len(data)):
    for i in range(1,4):
        data[a][i] = int(data[a][i])
data

[['CT', 82, 509, 510],
 ['NJ', 81, 499, 513],
 ['MA', 79, 511, 515],
 ['NY', 77, 495, 505],
 ['NH', 72, 520, 516],
 ['RI', 71, 501, 499],
 ['PA', 71, 500, 499],
 ['VT', 69, 511, 506],
 ['ME', 69, 506, 500],
 ['VA', 68, 510, 501],
 ['DE', 67, 501, 499],
 ['MD', 65, 508, 510],
 ['NC', 65, 493, 499],
 ['GA', 63, 491, 489],
 ['IN', 60, 499, 501],
 ['SC', 57, 486, 488],
 ['DC', 56, 482, 474],
 ['OR', 55, 526, 526],
 ['FL', 54, 498, 499],
 ['WA', 53, 527, 527],
 ['TX', 53, 493, 499],
 ['HI', 52, 485, 515],
 ['AK', 51, 514, 510],
 ['CA', 51, 498, 517],
 ['AZ', 34, 523, 525],
 ['NV', 33, 509, 515],
 ['CO', 31, 539, 542],
 ['OH', 26, 534, 439],
 ['MT', 23, 539, 539],
 ['WV', 18, 527, 512],
 ['ID', 17, 543, 542],
 ['TN', 13, 562, 553],
 ['NM', 13, 551, 542],
 ['IL', 12, 576, 589],
 ['KY', 12, 550, 550],
 ['WY', 11, 547, 545],
 ['MI', 11, 561, 572],
 ['MN', 9, 580, 589],
 ['KS', 9, 577, 580],
 ['AL', 9, 559, 554],
 ['NE', 8, 562, 568],
 ['OK', 8, 567, 561],
 ['MO', 8, 577, 577],
 ['LA', 7, 564, 562],
 ['WI', 6, 584, 596],
 ['AR', 6, 562, 550],
 ['UT', 5, 575, 570],
 ['IA', 5, 593, 603],
 ['SD', 4, 577, 582],
 ['ND', 4, 592, 599]]




##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [8]:
State_Rate = {}
State_Verbal = {}
State_Math = {}
for row in data:
    State_Rate[row[0]] = row[1]
    State_Verbal[row[0]] = row[2]
    State_Math[row[0]] = row[3]
print State_Math
print State_Rate
print State_Verbal

State_Dict = {}
for row in data:
    State_Dict [row[0]] = row[1:]

{'WA': 527, 'DE': 499, 'DC': 474, 'WI': 596, 'WV': 512, 'HI': 515, 'FL': 499, 'WY': 545, 'NH': 516, 'NJ': 513, 'NM': 542, 'TX': 499, 'LA': 562, 'NC': 499, 'ND': 599, 'NE': 568, 'TN': 553, 'NY': 505, 'PA': 499, 'RI': 499, 'NV': 515, 'VA': 501, 'CO': 542, 'AK': 510, 'AL': 554, 'AR': 550, 'VT': 506, 'IL': 589, 'GA': 489, 'IN': 501, 'IA': 603, 'OK': 561, 'AZ': 525, 'CA': 517, 'ID': 542, 'CT': 510, 'ME': 500, 'MD': 510, 'MA': 515, 'OH': 439, 'UT': 570, 'MO': 577, 'MN': 589, 'MI': 572, 'KS': 580, 'MT': 539, 'SC': 488, 'KY': 550, 'OR': 526, 'SD': 582}
{'WA': 53, 'DE': 67, 'DC': 56, 'WI': 6, 'WV': 18, 'HI': 52, 'FL': 54, 'WY': 11, 'NH': 72, 'NJ': 81, 'NM': 13, 'TX': 53, 'LA': 7, 'NC': 65, 'ND': 4, 'NE': 8, 'TN': 13, 'NY': 77, 'PA': 71, 'RI': 71, 'NV': 33, 'VA': 68, 'CO': 31, 'AK': 51, 'AL': 9, 'AR': 6, 'VT': 69, 'IL': 12, 'GA': 63, 'IN': 60, 'IA': 5, 'OK': 8, 'AZ': 34, 'CA': 51, 'ID': 17, 'CT': 82, 'ME': 69, 'MD': 65, 'MA': 79, 'OH': 26, 'UT': 5, 'MO': 8, 'MN': 9, 'MI': 11, 'KS': 9, 'MT': 23, 'SC': 57, 'KY': 12, 'OR': 55, 'SD': 4}
{'WA': 527, 'DE': 501, 'DC': 482, 'WI': 584, 'WV': 527, 'HI': 485, 'FL': 498, 'WY': 547, 'NH': 520, 'NJ': 499, 'NM': 551, 'TX': 493, 'LA': 564, 'NC': 493, 'ND': 592, 'NE': 562, 'TN': 562, 'NY': 495, 'PA': 500, 'RI': 501, 'NV': 509, 'VA': 510, 'CO': 539, 'AK': 514, 'AL': 559, 'AR': 562, 'VT': 511, 'IL': 576, 'GA': 491, 'IN': 499, 'IA': 593, 'OK': 567, 'AZ': 523, 'CA': 498, 'ID': 543, 'CT': 509, 'ME': 506, 'MD': 508, 'MA': 511, 'OH': 534, 'UT': 575, 'MO': 577, 'MN': 580, 'MI': 561, 'KS': 577, 'MT': 539, 'SC': 486, 'KY': 550, 'OR': 526, 'SD': 577}

##### 11. Create a dictionary with the values for each of the numeric columns

In [41]:
print 'Rate - ', 'Max =', max(State_Rate.values()), 'Min =', min(State_Rate.values())
print 'Verbal -', 'Max =', max(State_Verbal.values()), 'Min =', min(State_Verbal.values()
print 'Math -', 'Max =', max(State_Math.values()), 'Min =', min(State_Math.values())

SyntaxError: invalid syntax (<ipython-input-41-4fe6c2d8dacd>, line 3)

## Step 3: Describe the data

##### 12. Print the min and max of each column

In [14]:
print 'Rate - ', 'Max =', max(State_Rate.values()), 'Min =', min(State_Rate.values())
print 'Verbal -', 'Max =', max(State_Verbal.values()), 'Min =', min(State_Verbal.values())
print 'Math -', 'Max =', max(State_Math.values()), 'Min =', min(State_Math.values())

Rate -  Max = 82 Min = 4
Verbal - Max = 593 Min = 482
Math - Max = 603 Min = 439

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

In [49]:
import numpy as np
def stdv (list_dic):
    averages = [np.mean(dic_column.values()) for dic_column in list_dic]
    averages = [round(averages[i], 2) for i in range(3)]
    print ('averages = ', averages)
    sum_dif = [(cell - average) for average in averages for cell in dic_column.values() for dic_column in list_dic]
    #stdv = 1/len(dic_column.values())
    print sum_dif
print (columns)
stdv (columns)   

'''
import numpy as np
columns = [State_Rate, State_Verbal, State_Math]
column_names = ['State_Rate', 'State_Verbal', 'State_Math']
def stdv (list_dic):
    averages = [np.mean([dic_column.values()]) for dic_column in list_dic]
    sum_dif = [(cell - average) for cell in dic_column.values() for dic_column in list_dic for average in averages]
    #stdv = 1/len(dic_column.values())
    print sum_dif
stdv (columns)   
'''

[{'WA': 53, 'DE': 67, 'DC': 56, 'WI': 6, 'WV': 18, 'HI': 52, 'FL': 54, 'WY': 11, 'NH': 72, 'NJ': 81, 'NM': 13, 'TX': 53, 'LA': 7, 'NC': 65, 'ND': 4, 'NE': 8, 'TN': 13, 'NY': 77, 'PA': 71, 'RI': 71, 'NV': 33, 'VA': 68, 'CO': 31, 'AK': 51, 'AL': 9, 'AR': 6, 'VT': 69, 'IL': 12, 'GA': 63, 'IN': 60, 'IA': 5, 'OK': 8, 'AZ': 34, 'CA': 51, 'ID': 17, 'CT': 82, 'ME': 69, 'MD': 65, 'MA': 79, 'OH': 26, 'UT': 5, 'MO': 8, 'MN': 9, 'MI': 11, 'KS': 9, 'MT': 23, 'SC': 57, 'KY': 12, 'OR': 55, 'SD': 4}, {'WA': 527, 'DE': 501, 'DC': 482, 'WI': 584, 'WV': 527, 'HI': 485, 'FL': 498, 'WY': 547, 'NH': 520, 'NJ': 499, 'NM': 551, 'TX': 493, 'LA': 564, 'NC': 493, 'ND': 592, 'NE': 562, 'TN': 562, 'NY': 495, 'PA': 500, 'RI': 501, 'NV': 509, 'VA': 510, 'CO': 539, 'AK': 514, 'AL': 559, 'AR': 562, 'VT': 511, 'IL': 576, 'GA': 491, 'IN': 499, 'IA': 593, 'OK': 567, 'AZ': 523, 'CA': 498, 'ID': 543, 'CT': 509, 'ME': 506, 'MD': 508, 'MA': 511, 'OH': 534, 'UT': 575, 'MO': 577, 'MN': 580, 'MI': 561, 'KS': 577, 'MT': 539, 'SC': 486, 'KY': 550, 'OR': 526, 'SD': 577}, {'WA': 527, 'DE': 499, 'DC': 474, 'WI': 596, 'WV': 512, 'HI': 515, 'FL': 499, 'WY': 545, 'NH': 516, 'NJ': 513, 'NM': 542, 'TX': 499, 'LA': 562, 'NC': 499, 'ND': 599, 'NE': 568, 'TN': 553, 'NY': 505, 'PA': 499, 'RI': 499, 'NV': 515, 'VA': 501, 'CO': 542, 'AK': 510, 'AL': 554, 'AR': 550, 'VT': 506, 'IL': 589, 'GA': 489, 'IN': 501, 'IA': 603, 'OK': 561, 'AZ': 525, 'CA': 517, 'ID': 542, 'CT': 510, 'ME': 500, 'MD': 510, 'MA': 515, 'OH': 439, 'UT': 570, 'MO': 577, 'MN': 589, 'MI': 572, 'KS': 580, 'MT': 539, 'SC': 488, 'KY': 550, 'OR': 526, 'SD': 582}]
('averages = ', [37.66, 531.86, 531.46])
[489.34000000000003, 489.34000000000003, 489.34000000000003, 461.34000000000003, 461.34000000000003, 461.34000000000003, 436.34000000000003, 436.34000000000003, 436.34000000000003, 558.34, 558.34, 558.34, 474.34000000000003, 474.34000000000003, 474.34000000000003, 477.34000000000003, 477.34000000000003, 477.34000000000003, 461.34000000000003, 461.34000000000003, 461.34000000000003, 507.34000000000003, 507.34000000000003, 507.34000000000003, 478.34000000000003, 478.34000000000003, 478.34000000000003, 475.34000000000003, 475.34000000000003, 475.34000000000003, 504.34000000000003, 504.34000000000003, 504.34000000000003, 461.34000000000003, 461.34000000000003, 461.34000000000003, 524.34, 524.34, 524.34, 461.34000000000003, 461.34000000000003, 461.34000000000003, 561.34, 561.34, 561.34, 530.34, 530.34, 530.34, 515.34, 515.34, 515.34, 467.34000000000003, 467.34000000000003, 467.34000000000003, 461.34000000000003, 461.34000000000003, 461.34000000000003, 461.34000000000003, 461.34000000000003, 461.34000000000003, 477.34000000000003, 477.34000000000003, 477.34000000000003, 463.34000000000003, 463.34000000000003, 463.34000000000003, 504.34000000000003, 504.34000000000003, 504.34000000000003, 472.34000000000003, 472.34000000000003, 472.34000000000003, 516.34, 516.34, 516.34, 512.34, 512.34, 512.34, 468.34000000000003, 468.34000000000003, 468.34000000000003, 551.34, 551.34, 551.34, 451.34000000000003, 451.34000000000003, 451.34000000000003, 463.34000000000003, 463.34000000000003, 463.34000000000003, 565.34, 565.34, 565.34, 523.34, 523.34, 523.34, 487.34000000000003, 487.34000000000003, 487.34000000000003, 479.34000000000003, 479.34000000000003, 479.34000000000003, 504.34000000000003, 504.34000000000003, 504.34000000000003, 472.34000000000003, 472.34000000000003, 472.34000000000003, 462.34000000000003, 462.34000000000003, 462.34000000000003, 472.34000000000003, 472.34000000000003, 472.34000000000003, 477.34000000000003, 477.34000000000003, 477.34000000000003, 401.34000000000003, 401.34000000000003, 401.34000000000003, 532.34, 532.34, 532.34, 539.34, 539.34, 539.34, 551.34, 551.34, 551.34, 534.34, 534.34, 534.34, 542.34, 542.34, 542.34, 501.34000000000003, 501.34000000000003, 501.34000000000003, 450.34000000000003, 450.34000000000003, 450.34000000000003, 512.34, 512.34, 512.34, 488.34000000000003, 488.34000000000003, 488.34000000000003, 544.34, 544.34, 544.34, -4.860000000000014, -4.860000000000014, -4.860000000000014, -32.860000000000014, -32.860000000000014, -32.860000000000014, -57.860000000000014, -57.860000000000014, -57.860000000000014, 64.13999999999999, 64.13999999999999, 64.13999999999999, -19.860000000000014, -19.860000000000014, -19.860000000000014, -16.860000000000014, -16.860000000000014, -16.860000000000014, -32.860000000000014, -32.860000000000014, -32.860000000000014, 13.139999999999986, 13.139999999999986, 13.139999999999986, -15.860000000000014, -15.860000000000014, -15.860000000000014, -18.860000000000014, -18.860000000000014, -18.860000000000014, 10.139999999999986, 10.139999999999986, 10.139999999999986, -32.860000000000014, -32.860000000000014, -32.860000000000014, 30.139999999999986, 30.139999999999986, 30.139999999999986, -32.860000000000014, -32.860000000000014, -32.860000000000014, 67.13999999999999, 67.13999999999999, 67.13999999999999, 36.139999999999986, 36.139999999999986, 36.139999999999986, 21.139999999999986, 21.139999999999986, 21.139999999999986, -26.860000000000014, -26.860000000000014, -26.860000000000014, -32.860000000000014, -32.860000000000014, -32.860000000000014, -32.860000000000014, -32.860000000000014, -32.860000000000014, -16.860000000000014, -16.860000000000014, -16.860000000000014, -30.860000000000014, -30.860000000000014, -30.860000000000014, 10.139999999999986, 10.139999999999986, 10.139999999999986, -21.860000000000014, -21.860000000000014, -21.860000000000014, 22.139999999999986, 22.139999999999986, 22.139999999999986, 18.139999999999986, 18.139999999999986, 18.139999999999986, -25.860000000000014, -25.860000000000014, -25.860000000000014, 57.139999999999986, 57.139999999999986, 57.139999999999986, -42.860000000000014, -42.860000000000014, -42.860000000000014, -30.860000000000014, -30.860000000000014, -30.860000000000014, 71.13999999999999, 71.13999999999999, 71.13999999999999, 29.139999999999986, 29.139999999999986, 29.139999999999986, -6.860000000000014, -6.860000000000014, -6.860000000000014, -14.860000000000014, -14.860000000000014, -14.860000000000014, 10.139999999999986, 10.139999999999986, 10.139999999999986, -21.860000000000014, -21.860000000000014, -21.860000000000014, -31.860000000000014, -31.860000000000014, -31.860000000000014, -21.860000000000014, -21.860000000000014, -21.860000000000014, -16.860000000000014, -16.860000000000014, -16.860000000000014, -92.86000000000001, -92.86000000000001, -92.86000000000001, 38.139999999999986, 38.139999999999986, 38.139999999999986, 45.139999999999986, 45.139999999999986, 45.139999999999986, 57.139999999999986, 57.139999999999986, 57.139999999999986, 40.139999999999986, 40.139999999999986, 40.139999999999986, 48.139999999999986, 48.139999999999986, 48.139999999999986, 7.139999999999986, 7.139999999999986, 7.139999999999986, -43.860000000000014, -43.860000000000014, -43.860000000000014, 18.139999999999986, 18.139999999999986, 18.139999999999986, -5.860000000000014, -5.860000000000014, -5.860000000000014, 50.139999999999986, 50.139999999999986, 50.139999999999986, -4.460000000000036, -4.460000000000036, -4.460000000000036, -32.460000000000036, -32.460000000000036, -32.460000000000036, -57.460000000000036, -57.460000000000036, -57.460000000000036, 64.53999999999996, 64.53999999999996, 64.53999999999996, -19.460000000000036, -19.460000000000036, -19.460000000000036, -16.460000000000036, -16.460000000000036, -16.460000000000036, -32.460000000000036, -32.460000000000036, -32.460000000000036, 13.539999999999964, 13.539999999999964, 13.539999999999964, -15.460000000000036, -15.460000000000036, -15.460000000000036, -18.460000000000036, -18.460000000000036, -18.460000000000036, 10.539999999999964, 10.539999999999964, 10.539999999999964, -32.460000000000036, -32.460000000000036, -32.460000000000036, 30.539999999999964, 30.539999999999964, 30.539999999999964, -32.460000000000036, -32.460000000000036, -32.460000000000036, 67.53999999999996, 67.53999999999996, 67.53999999999996, 36.539999999999964, 36.539999999999964, 36.539999999999964, 21.539999999999964, 21.539999999999964, 21.539999999999964, -26.460000000000036, -26.460000000000036, -26.460000000000036, -32.460000000000036, -32.460000000000036, -32.460000000000036, -32.460000000000036, -32.460000000000036, -32.460000000000036, -16.460000000000036, -16.460000000000036, -16.460000000000036, -30.460000000000036, -30.460000000000036, -30.460000000000036, 10.539999999999964, 10.539999999999964, 10.539999999999964, -21.460000000000036, -21.460000000000036, -21.460000000000036, 22.539999999999964, 22.539999999999964, 22.539999999999964, 18.539999999999964, 18.539999999999964, 18.539999999999964, -25.460000000000036, -25.460000000000036, -25.460000000000036, 57.539999999999964, 57.539999999999964, 57.539999999999964, -42.460000000000036, -42.460000000000036, -42.460000000000036, -30.460000000000036, -30.460000000000036, -30.460000000000036, 71.53999999999996, 71.53999999999996, 71.53999999999996, 29.539999999999964, 29.539999999999964, 29.539999999999964, -6.460000000000036, -6.460000000000036, -6.460000000000036, -14.460000000000036, -14.460000000000036, -14.460000000000036, 10.539999999999964, 10.539999999999964, 10.539999999999964, -21.460000000000036, -21.460000000000036, -21.460000000000036, -31.460000000000036, -31.460000000000036, -31.460000000000036, -21.460000000000036, -21.460000000000036, -21.460000000000036, -16.460000000000036, -16.460000000000036, -16.460000000000036, -92.46000000000004, -92.46000000000004, -92.46000000000004, 38.539999999999964, 38.539999999999964, 38.539999999999964, 45.539999999999964, 45.539999999999964, 45.539999999999964, 57.539999999999964, 57.539999999999964, 57.539999999999964, 40.539999999999964, 40.539999999999964, 40.539999999999964, 48.539999999999964, 48.539999999999964, 48.539999999999964, 7.539999999999964, 7.539999999999964, 7.539999999999964, -43.460000000000036, -43.460000000000036, -43.460000000000036, 18.539999999999964, 18.539999999999964, 18.539999999999964, -5.460000000000036, -5.460000000000036, -5.460000000000036, 50.539999999999964, 50.539999999999964, 50.539999999999964]

In [41]:
import numpy as np
mean = np.mean(State_Rate.values())
mean

37.659999999999997

In [53]:
mean = np.mean(State_Verbal.values())
mean

531.86000000000001

In [54]:
mean = np.mean(State_Math.values())
mean

531.46000000000004

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.