## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries

In [1]:
## YOUR CODE HERE
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import seaborn as sns

In [2]:
data = pd.read_csv('../assets/indeed-scraped-job-postings.csv')
data

,city,company,salary,summary,title,parsed_salary
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0
5,Denver,Denver Health,"$93,645 a year",Functions largely independently but reports to...,Assistant Research Scientist - RADARS,93645.0
6,Denver,Denver Health,"$66,654 a year","Assist research director, assistant research d...",Statistical Research Specialist,66654.0
7,Denver,Denver Health,"$66,654 a year","Assist research director, assistant research d...",Statistical Research Scientist - RADARS,66654.0
8,Denver,University of Colorado,"$65,000 - $90,000 a year",And effective working relationships with physi...,Regulatory & Compliance Manager,77500.0
9,Denver,"Computer Enterprises, Inc.","$130,000 a year",We are looking for a Software Engineer/Data Sc...,Software Engineer/Data Scientist,130000.0
10,Denver,Potatoes USA,"$85,000 a year",Extensive knowledge and experience analyzing s...,Global Marketing Manager - Ingredient and Scho...,85000.0
11,Denver,Department Of The Interior,"$43,037 - $68,430 a year",Preparing graphs and data profiles; Conduct li...,Geologist GS-1350-07/09 (DEU - TERM - JG),55733.5
12,Denver,University of Colorado,"$42,000 - $45,000 a year",Data as appropriate; Primarily to clinical car...,Professional Research Assistant - Data Manager,43500.0
13,Denver,University of Colorado,"$42,000 - $46,500 a year",Ensures accurate data entry of tissue bank pat...,Professional Research Assistant - Tissue Bank ...,44250.0
14,Denver,DigitalGlobe,"$105,000 a year",DigitalGlobe's Geospatial Big Data (GBD) initi...,Platform Developer/Geospatial Big Data (Python),105000.0
15,Denver,University of Colorado,"$45,000 - $50,000 a year","Investigator, Study Sponsor, FDA, Data and Saf...",Professional Research Assistant - Clinical Res...,47500.0
16,Denver,Fahrenheit IT,"$170,000 a year",Doing all this with an exceptional group of so...,DevOps Engineer,170000.0
17,Austin,TechTank Staffing & Consulting Solutions,"$140,000 a year",What are we looking for in this Data Scientist...,Data Scientist Programmer/Specialist,140000.0
18,Austin,All-In Analytics,"$140,000 - $160,000 a year",Senior Deep Learning Data Scientist. Forecasti...,Senior Deep Learning Data Scientist,150000.0
19,Austin,Emoters Robotics,"$70,000 - $100,000 a year","At Emoters, we’re developing tiny, autonomous ...",Robotics software engineer (involves machine l...,85000.0
20,Austin,Myriad Development,"$35,000 a year","Myriad Development is an Austin, TX based lead...",Research Analyst/Customer Serv,35000.0
21,Austin,Roland & Associates,"$160,000 a year",Data Scientist.Job Type :. They are currently ...,Data Scientist,160000.0
22,Austin,JE Compliance,"$37,000 - $45,000 a year",The ability to interact with many different ty...,International Environmental Specialist,41000.0
23,Austin,Providence Partners,"$65,000 a year","Company Located in South Austin, we are the le...","Research Analyst (excel, analysis, client-facing)",65000.0
24,Seattle,Pullskill Technologies,"$120,000 a year",Lead Data Scientist Recruiter*. Data Scientist...,Data Scientist (Software Engineering),120000.0
25,Seattle,Harvey Nash USA,"$135,000 a year",They are looking for a Type B data scientist:....,Data Science Engineer,135000.0
26,Seattle,Seattle Pacific University,"$80,000 - $85,000 a year","Manages data warehousing, data analytic soluti...",BI/Data Architect,82500.0
27,Seattle,"Rakuten, Inc.","$140,000 a year","Additionally, this position provides an opport...",Software Development Engineer (Machine Learning),140000.0
28,Seattle,All-In Analytics,"$150,000 - $230,000 a year",Digital Data Scientist. Big Data Mining and An...,Digital Data Scientist,190000.0
29,Seattle,All-In Analytics,"$110,000 - $130,000 a year","Data Scientist, Compensation Analytics. Must b...","Sr. Data Scientist, Compensation Analytics",120000.0
...,...,...,...,...,...,...
383,San+Francisco,University of California Berkeley,"$67,500 - $81,600 a year",Ensures accuracy and completeness of data in m...,"Database Administrator, GSE",74550.0
384,San+Francisco,Workbridge Associates,"$165,000 - $195,000 a year",The role will be working on technology that pr...,"Staff Engineer, Machine Learning (Scala)",180000.0
385,San+Francisco,Jobspring Partners,"$180,000 - $275,000 a year",This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,227500.0
386,San+Francisco,LT,"$125,000 a year",We have four QA engineers with three more open...,QA Engineer,125000.0
387,San+Francisco,NJF Search,"$140,000 a year",My client is a prop trading firm in SF seeks a...,Equity Research Analyst - US Energy Stocks,140000.0
388,San+Francisco,Lighthouse Recruiting,"$75,000 - $95,000 a year",Join our Medical Laboratory Scientists Groups:...,Billing Specialist,85000.0
389,San+Francisco,Global Placement Firm,$130 - $140 a day,This role is suited for a self-directed Senior...,Senior Web Research Scientist,NaN
390,San+Francisco,LT,"$200,000 a year",We have four QA engineers with three more open...,Java Developer,200000.0
391,San+Francisco,Workbridge Associates,"$150,000 - $200,000 a year",Drive creation of best practices and new stand...,Director of Data Science (Mapping),175000.0
392,San+Francisco,LT,"$180,000 a year",We have two QA engineers with three more open ...,Erlang Engineer,180000.0
393,San+Francisco,HSF Consulting,"$180,000 a year",Monitor data munging processes- data validatio...,Data Operations Manager,180000.0
394,Atlanta,firstPRO,"$100,000 a year","Data scientist, SQL, data anlysis, R:. Fast gr...",Data Scientist / SQL,100000.0
395,Atlanta,Ga. Dept. of Admin. Services,"$36,000 - $46,000 a year",Statistical Data Analyst. Strong data research...,Statistical Data Analyst,41000.0
396,Atlanta,Centers for Disease Control and Prevention,"$61,956 - $96,538 a year",As a Health Scientist your will:. In addition ...,Health Scientist,79247.0
397,Atlanta,Centers for Disease Control and Prevention,"$122,744 - $159,572 a year","As a Supervisory Health Scientist, you will. Q...",Supervisory Health Scientist,141158.0
398,Atlanta,Emory University,"$33,400 a year",Compiles data and records results of studies f...,Research Specialist,33400.0
399,Atlanta,Centers for Disease Control and Prevention,"$74,260 - $114,802 a year",As an Interdisciplinary Health Scientist/ Beha...,Interdisciplinary Health Scientist/ Behavioral...,94531.0
400,Atlanta,"Wismettac Asian Foods, Inc.","$50,794 a year","Wismettac Asian Foods, Inc., (formerly Nishimo...",Market Research Analyst,50794.0
401,Atlanta,Emory University,"$56,200 a year",Using an advanced knowledge of research method...,"Asc Dir, Research Projects",56200.0
402,Atlanta,Emory University,"$52,300 a year",Responsible for post-award processing of grant...,Research Financial Analyst (Dept/Sch),52300.0
403,Atlanta,Velossent,"$160,000 a year",Experience with leading teams comprised of Dat...,Director of Data,160000.0
404,Atlanta,Selby Jennings,"$175,000 - $250,000 a year",While statistical modeling is a primary aspect...,Statistical Credit Risk Modeler | Top Performi...,212500.0
405,Atlanta,firstPRO,"$120,000 a year",Growing and highly stable company has an immed...,C++ Developer / Machine Learning,120000.0
406,Atlanta,CSTE,"$54,182 a year",Skills with developing and presenting epidemio...,Associate Research Analyst,54182.0
407,Atlanta,Smith Hanley Associates,"$65,000 - $110,000 a year",An individual with previous modeling experienc...,Research Statistician - Payment Cards,87500.0
408,Atlanta,JVI,"$55,000 a year",Real Estate Research Analyst - Title Research ...,Real Estate / Title Research Analyst,55000.0
409,Atlanta,Synergy Search Group,"$80,000 a year",Duties will include data conversion from multi...,Audit Snr (Banking) - Data Analysis 60K-80K,80000.0
410,Atlanta,Smith Hanley Associates,"$75,000 - $100,000 a year",-Business based experience doing data mining a...,Marketing Statistician,87500.0
411,Atlanta,Principle Solutions Group,"$80,000 a year",Working knowledge of data center management co...,DevOps Engineer,80000.0
412,Atlanta,Amana Academy Charter School,"$30,000 - $39,999 a year",Accounts Receivables - data entry. Invoice dat...,School Business Manager and Human Resources (HR),34999.5

In [3]:
parsed_salary_null = pd.isnull(data['parsed_salary'])
data_science_salary_data_missing = data[parsed_salary_null == True]
Salary_data_missing_rows = data_science_salary_data_missing.index.values
Salary_data_missing_rows

array([ 41, 123, 124, 189, 310, 367, 389], dtype=int64)

In [4]:
Parsed_salary_missing_data = [(100/8)*2000,(120/8)*2000,
                              (120/8)*2000,(775/8)*2000,
                              (150/8)*2000,(82.5/8)*2000,(135/8)*2000]
Missing_salary = zip(Salary_data_missing_rows, Parsed_salary_missing_data)
for i,j in Missing_salary:
    data.at[i,'parsed_salary'] = j
data.head()

,city,company,salary,summary,title,parsed_salary
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0

In [5]:
data_scientist = ['statistical', 'statistician', 'machine learning', 'scientist', 'science', 'big data', 'research', 'researcher',
'deep learning', 'nlp', 'natural language processing', 'predictive ',
'hadoop', 'modeling', 'modeler', 'time series', 'postdoctoral', 'phd']

In [6]:
data_analyst = ['analyst', 'analysis', 'business intelligence',
                'analytics', 'intelligence', 'data administrator', 'sql']

In [7]:
engineer = ['developer', 'C++', 'java', 'software', 'engineer', 'python', 'devops', 
'product development', '.js', 'front end', 'applications', 'application']

In [8]:
solution_architect = ['architect', 'system', 'network', 'solution']

In [9]:
field = [data_scientist, data_analyst, engineer, solution_architect]

In [10]:
data['title_lowercase'] = data['title']
data['title_lowercase'] = data.title_lowercase.str.lower()
data['title_keywords'] = 0
data.head(1)

,city,company,salary,summary,title,parsed_salary,title_lowercase,title_keywords
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0,"statistician, gs-1350-12 (deu-perm-ds)",0

In [11]:
data.title_lowercase

0                 statistician, gs-1350-12 (deu-perm-ds)
1      interdisciplinary cartographer/geographer - gs...
2                               financial data scientist
3                                senior research analyst
4                                          animal care i
5                  assistant research scientist - radars
6                        statistical research specialist
7                statistical research scientist - radars
8                        regulatory & compliance manager
9                       software engineer/data scientist
10     global marketing manager - ingredient and scho...
11             geologist gs-1350-07/09 (deu - term - jg)
12        professional research assistant - data manager
13     professional research assistant - tissue bank ...
14       platform developer/geospatial big data (python)
15     professional research assistant - clinical res...
16                                       devops engineer
17                  data scientist programmer/specialist
18                   senior deep learning data scientist
19     robotics software engineer (involves machine l...
20                        research analyst/customer serv
21                                        data scientist
22                international environmental specialist
23     research analyst (excel, analysis, client-facing)
24                 data scientist (software engineering)
25                                 data science engineer
26                                     bi/data architect
27      software development engineer (machine learning)
28                                digital data scientist
29            sr. data scientist, compensation analytics
                             ...
383                          database administrator, gse
384             staff engineer, machine learning (scala)
385    vice president engineering (big data/ machine ...
386                                          qa engineer
387           equity research analyst - us energy stocks
388                                   billing specialist
389                        senior web research scientist
390                                       java developer
391                   director of data science (mapping)
392                                      erlang engineer
393                              data operations manager
394                                 data scientist / sql
395                             statistical data analyst
396                                     health scientist
397                         supervisory health scientist
398                                  research specialist
399    interdisciplinary health scientist/ behavioral...
400                              market research analyst
401                           asc dir, research projects
402                research financial analyst (dept/sch)
403                                     director of data
404    statistical credit risk modeler | top performi...
405                     c++ developer / machine learning
406                           associate research analyst
407                research statistician - payment cards
408                 real estate / title research analyst
409          audit snr (banking) - data analysis 60k-80k
410                               marketing statistician
411                                      devops engineer
412     school business manager and human resources (hr)
Name: title_lowercase, dtype: object

In [24]:
for i, title in enumerate(data.title_lowercase):
    a = title.split()
    for b in a:
        if b in data_scientist:
            data.title_keywords[i] = 'data scientist'
            break
        if b in data_analyst:
            data.title_keywords[i] = 'data analyst'
            break
        if b in engineer:
            data.title_keywords[i] = 'engineer'
            break 
        if b in solution_architect:
            data.title_keywords[i] = 'solution architect'
        else:
            data.title_keywords[i] = 'other'

C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
data

,city,company,salary,summary,title,parsed_salary,title_lowercase,title_keywords
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0,"statistician, gs-1350-12 (deu-perm-ds)",other
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5,interdisciplinary cartographer/geographer - gs...,other
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0,financial data scientist,data scientist
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5,senior research analyst,data scientist
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0,animal care i,other
5,Denver,Denver Health,"$93,645 a year",Functions largely independently but reports to...,Assistant Research Scientist - RADARS,93645.0,assistant research scientist - radars,data scientist
6,Denver,Denver Health,"$66,654 a year","Assist research director, assistant research d...",Statistical Research Specialist,66654.0,statistical research specialist,data scientist
7,Denver,Denver Health,"$66,654 a year","Assist research director, assistant research d...",Statistical Research Scientist - RADARS,66654.0,statistical research scientist - radars,data scientist
8,Denver,University of Colorado,"$65,000 - $90,000 a year",And effective working relationships with physi...,Regulatory & Compliance Manager,77500.0,regulatory & compliance manager,other
9,Denver,"Computer Enterprises, Inc.","$130,000 a year",We are looking for a Software Engineer/Data Sc...,Software Engineer/Data Scientist,130000.0,software engineer/data scientist,engineer
10,Denver,Potatoes USA,"$85,000 a year",Extensive knowledge and experience analyzing s...,Global Marketing Manager - Ingredient and Scho...,85000.0,global marketing manager - ingredient and scho...,other
11,Denver,Department Of The Interior,"$43,037 - $68,430 a year",Preparing graphs and data profiles; Conduct li...,Geologist GS-1350-07/09 (DEU - TERM - JG),55733.5,geologist gs-1350-07/09 (deu - term - jg),other
12,Denver,University of Colorado,"$42,000 - $45,000 a year",Data as appropriate; Primarily to clinical car...,Professional Research Assistant - Data Manager,43500.0,professional research assistant - data manager,data scientist
13,Denver,University of Colorado,"$42,000 - $46,500 a year",Ensures accurate data entry of tissue bank pat...,Professional Research Assistant - Tissue Bank ...,44250.0,professional research assistant - tissue bank ...,data scientist
14,Denver,DigitalGlobe,"$105,000 a year",DigitalGlobe's Geospatial Big Data (GBD) initi...,Platform Developer/Geospatial Big Data (Python),105000.0,platform developer/geospatial big data (python),other
15,Denver,University of Colorado,"$45,000 - $50,000 a year","Investigator, Study Sponsor, FDA, Data and Saf...",Professional Research Assistant - Clinical Res...,47500.0,professional research assistant - clinical res...,data scientist
16,Denver,Fahrenheit IT,"$170,000 a year",Doing all this with an exceptional group of so...,DevOps Engineer,170000.0,devops engineer,engineer
17,Austin,TechTank Staffing & Consulting Solutions,"$140,000 a year",What are we looking for in this Data Scientist...,Data Scientist Programmer/Specialist,140000.0,data scientist programmer/specialist,data scientist
18,Austin,All-In Analytics,"$140,000 - $160,000 a year",Senior Deep Learning Data Scientist. Forecasti...,Senior Deep Learning Data Scientist,150000.0,senior deep learning data scientist,data scientist
19,Austin,Emoters Robotics,"$70,000 - $100,000 a year","At Emoters, we’re developing tiny, autonomous ...",Robotics software engineer (involves machine l...,85000.0,robotics software engineer (involves machine l...,engineer
20,Austin,Myriad Development,"$35,000 a year","Myriad Development is an Austin, TX based lead...",Research Analyst/Customer Serv,35000.0,research analyst/customer serv,data scientist
21,Austin,Roland & Associates,"$160,000 a year",Data Scientist.Job Type :. They are currently ...,Data Scientist,160000.0,data scientist,data scientist
22,Austin,JE Compliance,"$37,000 - $45,000 a year",The ability to interact with many different ty...,International Environmental Specialist,41000.0,international environmental specialist,other
23,Austin,Providence Partners,"$65,000 a year","Company Located in South Austin, we are the le...","Research Analyst (excel, analysis, client-facing)",65000.0,"research analyst (excel, analysis, client-facing)",data scientist
24,Seattle,Pullskill Technologies,"$120,000 a year",Lead Data Scientist Recruiter*. Data Scientist...,Data Scientist (Software Engineering),120000.0,data scientist (software engineering),data scientist
25,Seattle,Harvey Nash USA,"$135,000 a year",They are looking for a Type B data scientist:....,Data Science Engineer,135000.0,data science engineer,data scientist
26,Seattle,Seattle Pacific University,"$80,000 - $85,000 a year","Manages data warehousing, data analytic soluti...",BI/Data Architect,82500.0,bi/data architect,solution architect
27,Seattle,"Rakuten, Inc.","$140,000 a year","Additionally, this position provides an opport...",Software Development Engineer (Machine Learning),140000.0,software development engineer (machine learning),engineer
28,Seattle,All-In Analytics,"$150,000 - $230,000 a year",Digital Data Scientist. Big Data Mining and An...,Digital Data Scientist,190000.0,digital data scientist,data scientist
29,Seattle,All-In Analytics,"$110,000 - $130,000 a year","Data Scientist, Compensation Analytics. Must b...","Sr. Data Scientist, Compensation Analytics",120000.0,"sr. data scientist, compensation analytics",data analyst
...,...,...,...,...,...,...,...,...
383,San+Francisco,University of California Berkeley,"$67,500 - $81,600 a year",Ensures accuracy and completeness of data in m...,"Database Administrator, GSE",74550.0,"database administrator, gse",other
384,San+Francisco,Workbridge Associates,"$165,000 - $195,000 a year",The role will be working on technology that pr...,"Staff Engineer, Machine Learning (Scala)",180000.0,"staff engineer, machine learning (scala)",other
385,San+Francisco,Jobspring Partners,"$180,000 - $275,000 a year",This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,227500.0,vice president engineering (big data/ machine ...,other
386,San+Francisco,LT,"$125,000 a year",We have four QA engineers with three more open...,QA Engineer,125000.0,qa engineer,engineer
387,San+Francisco,NJF Search,"$140,000 a year",My client is a prop trading firm in SF seeks a...,Equity Research Analyst - US Energy Stocks,140000.0,equity research analyst - us energy stocks,data scientist
388,San+Francisco,Lighthouse Recruiting,"$75,000 - $95,000 a year",Join our Medical Laboratory Scientists Groups:...,Billing Specialist,85000.0,billing specialist,other
389,San+Francisco,Global Placement Firm,$130 - $140 a day,This role is suited for a self-directed Senior...,Senior Web Research Scientist,32000.0,senior web research scientist,data scientist
390,San+Francisco,LT,"$200,000 a year",We have four QA engineers with three more open...,Java Developer,200000.0,java developer,engineer
391,San+Francisco,Workbridge Associates,"$150,000 - $200,000 a year",Drive creation of best practices and new stand...,Director of Data Science (Mapping),175000.0,director of data science (mapping),data scientist
392,San+Francisco,LT,"$180,000 a year",We have two QA engineers with three more open ...,Erlang Engineer,180000.0,erlang engineer,engineer
393,San+Francisco,HSF Consulting,"$180,000 a year",Monitor data munging processes- data validatio...,Data Operations Manager,180000.0,data operations manager,other
394,Atlanta,firstPRO,"$100,000 a year","Data scientist, SQL, data anlysis, R:. Fast gr...",Data Scientist / SQL,100000.0,data scientist / sql,data scientist
395,Atlanta,Ga. Dept. of Admin. Services,"$36,000 - $46,000 a year",Statistical Data Analyst. Strong data research...,Statistical Data Analyst,41000.0,statistical data analyst,data scientist
396,Atlanta,Centers for Disease Control and Prevention,"$61,956 - $96,538 a year",As a Health Scientist your will:. In addition ...,Health Scientist,79247.0,health scientist,data scientist
397,Atlanta,Centers for Disease Control and Prevention,"$122,744 - $159,572 a year","As a Supervisory Health Scientist, you will. Q...",Supervisory Health Scientist,141158.0,supervisory health scientist,data scientist
398,Atlanta,Emory University,"$33,400 a year",Compiles data and records results of studies f...,Research Specialist,33400.0,research specialist,data scientist
399,Atlanta,Centers for Disease Control and Prevention,"$74,260 - $114,802 a year",As an Interdisciplinary Health Scientist/ Beha...,Interdisciplinary Health Scientist/ Behavioral...,94531.0,interdisciplinary health scientist/ behavioral...,data scientist
400,Atlanta,"Wismettac Asian Foods, Inc.","$50,794 a year","Wismettac Asian Foods, Inc., (formerly Nishimo...",Market Research Analyst,50794.0,market research analyst,data scientist
401,Atlanta,Emory University,"$56,200 a year",Using an advanced knowledge of research method...,"Asc Dir, Research Projects",56200.0,"asc dir, research projects",data scientist
402,Atlanta,Emory University,"$52,300 a year",Responsible for post-award processing of grant...,Research Financial Analyst (Dept/Sch),52300.0,research financial analyst (dept/sch),data scientist
403,Atlanta,Velossent,"$160,000 a year",Experience with leading teams comprised of Dat...,Director of Data,160000.0,director of data,other
404,Atlanta,Selby Jennings,"$175,000 - $250,000 a year",While statistical modeling is a primary aspect...,Statistical Credit Risk Modeler | Top Performi...,212500.0,statistical credit risk modeler | top performi...,data scientist
405,Atlanta,firstPRO,"$120,000 a year",Growing and highly stable company has an immed...,C++ Developer / Machine Learning,120000.0,c++ developer / machine learning,engineer
406,Atlanta,CSTE,"$54,182 a year",Skills with developing and presenting epidemio...,Associate Research Analyst,54182.0,associate research analyst,data scientist
407,Atlanta,Smith Hanley Associates,"$65,000 - $110,000 a year",An individual with previous modeling experienc...,Research Statistician - Payment Cards,87500.0,research statistician - payment cards,data scientist
408,Atlanta,JVI,"$55,000 a year",Real Estate Research Analyst - Title Research ...,Real Estate / Title Research Analyst,55000.0,real estate / title research analyst,data scientist
409,Atlanta,Synergy Search Group,"$80,000 a year",Duties will include data conversion from multi...,Audit Snr (Banking) - Data Analysis 60K-80K,80000.0,audit snr (banking) - data analysis 60k-80k,data analyst
410,Atlanta,Smith Hanley Associates,"$75,000 - $100,000 a year",-Business based experience doing data mining a...,Marketing Statistician,87500.0,marketing statistician,data scientist
411,Atlanta,Principle Solutions Group,"$80,000 a year",Working knowledge of data center management co...,DevOps Engineer,80000.0,devops engineer,engineer
412,Atlanta,Amana Academy Charter School,"$30,000 - $39,999 a year",Accounts Receivables - data entry. Invoice dat...,School Business Manager and Human Resources (HR),34999.5,school business manager and human resources (hr),other

In [26]:
data.title_keywords.unique()

array(['other', 'data scientist', 'engineer', 'solution architect',
       'data analyst'], dtype=object)

In [12]:

for i, title in enumerate(data.title_lowercase):
    for ds in data_scientist:
        if ds in title:
            data.title_keywords[i] = 'data scientist'
        else:
            for an in data_analyst:
                if an in title:
                    data.title_keywords[i] = 'data analyst'
#                 else:
#                     for eng in engineer:
#                         if eng in title:
#                             data.title_keywords[i] = 'engineer'
#                         else:
#                             for sa in solution_architect:
#                                 if sa in title:
#                                     data.title_keywords[i] = 'engineer'
#                                 else:
#                                     data.title_keywords[i] = 'other'

C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ali\Anaconda2\lib\site-packages\pandas\core\indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
data

,city,company,salary,summary,title,parsed_salary,title_lowercase,title_keywords
0,Denver,Department Of The Interior,"$76,341 - $99,243 a year","Would you like to join the more than 10,000 sc...","Statistician, GS-1350-12 (DEU-PERM-DS)",87792.0,"statistician, gs-1350-12 (deu-perm-ds)",data scientist
1,Denver,Department Of The Interior,"$71,012 - $99,243 a year",Investigate potential uses of geospatial data ...,Interdisciplinary Cartographer/Geographer - GS...,85127.5,interdisciplinary cartographer/geographer - gs...,0
2,Denver,Mental Health Center of Denver,"$70,000 - $80,000 a year",Advise the Data Developer with regard to creat...,Financial Data Scientist,75000.0,financial data scientist,data scientist
3,Denver,Denver Public Schools,"$62,712 - $75,255 a year",Portal managers on student outcome data report...,SENIOR RESEARCH ANALYST,68983.5,senior research analyst,data analyst
4,Denver,University of Colorado,"$25,000 - $29,000 a year",Experience entering and manipulating data in a...,Animal Care I,27000.0,animal care i,0
5,Denver,Denver Health,"$93,645 a year",Functions largely independently but reports to...,Assistant Research Scientist - RADARS,93645.0,assistant research scientist - radars,data scientist
6,Denver,Denver Health,"$66,654 a year","Assist research director, assistant research d...",Statistical Research Specialist,66654.0,statistical research specialist,data scientist
7,Denver,Denver Health,"$66,654 a year","Assist research director, assistant research d...",Statistical Research Scientist - RADARS,66654.0,statistical research scientist - radars,data scientist
8,Denver,University of Colorado,"$65,000 - $90,000 a year",And effective working relationships with physi...,Regulatory & Compliance Manager,77500.0,regulatory & compliance manager,0
9,Denver,"Computer Enterprises, Inc.","$130,000 a year",We are looking for a Software Engineer/Data Sc...,Software Engineer/Data Scientist,130000.0,software engineer/data scientist,data scientist
10,Denver,Potatoes USA,"$85,000 a year",Extensive knowledge and experience analyzing s...,Global Marketing Manager - Ingredient and Scho...,85000.0,global marketing manager - ingredient and scho...,0
11,Denver,Department Of The Interior,"$43,037 - $68,430 a year",Preparing graphs and data profiles; Conduct li...,Geologist GS-1350-07/09 (DEU - TERM - JG),55733.5,geologist gs-1350-07/09 (deu - term - jg),0
12,Denver,University of Colorado,"$42,000 - $45,000 a year",Data as appropriate; Primarily to clinical car...,Professional Research Assistant - Data Manager,43500.0,professional research assistant - data manager,data scientist
13,Denver,University of Colorado,"$42,000 - $46,500 a year",Ensures accurate data entry of tissue bank pat...,Professional Research Assistant - Tissue Bank ...,44250.0,professional research assistant - tissue bank ...,data scientist
14,Denver,DigitalGlobe,"$105,000 a year",DigitalGlobe's Geospatial Big Data (GBD) initi...,Platform Developer/Geospatial Big Data (Python),105000.0,platform developer/geospatial big data (python),data scientist
15,Denver,University of Colorado,"$45,000 - $50,000 a year","Investigator, Study Sponsor, FDA, Data and Saf...",Professional Research Assistant - Clinical Res...,47500.0,professional research assistant - clinical res...,data scientist
16,Denver,Fahrenheit IT,"$170,000 a year",Doing all this with an exceptional group of so...,DevOps Engineer,170000.0,devops engineer,0
17,Austin,TechTank Staffing & Consulting Solutions,"$140,000 a year",What are we looking for in this Data Scientist...,Data Scientist Programmer/Specialist,140000.0,data scientist programmer/specialist,data scientist
18,Austin,All-In Analytics,"$140,000 - $160,000 a year",Senior Deep Learning Data Scientist. Forecasti...,Senior Deep Learning Data Scientist,150000.0,senior deep learning data scientist,data scientist
19,Austin,Emoters Robotics,"$70,000 - $100,000 a year","At Emoters, we’re developing tiny, autonomous ...",Robotics software engineer (involves machine l...,85000.0,robotics software engineer (involves machine l...,data scientist
20,Austin,Myriad Development,"$35,000 a year","Myriad Development is an Austin, TX based lead...",Research Analyst/Customer Serv,35000.0,research analyst/customer serv,data analyst
21,Austin,Roland & Associates,"$160,000 a year",Data Scientist.Job Type :. They are currently ...,Data Scientist,160000.0,data scientist,data scientist
22,Austin,JE Compliance,"$37,000 - $45,000 a year",The ability to interact with many different ty...,International Environmental Specialist,41000.0,international environmental specialist,0
23,Austin,Providence Partners,"$65,000 a year","Company Located in South Austin, we are the le...","Research Analyst (excel, analysis, client-facing)",65000.0,"research analyst (excel, analysis, client-facing)",data analyst
24,Seattle,Pullskill Technologies,"$120,000 a year",Lead Data Scientist Recruiter*. Data Scientist...,Data Scientist (Software Engineering),120000.0,data scientist (software engineering),data scientist
25,Seattle,Harvey Nash USA,"$135,000 a year",They are looking for a Type B data scientist:....,Data Science Engineer,135000.0,data science engineer,data scientist
26,Seattle,Seattle Pacific University,"$80,000 - $85,000 a year","Manages data warehousing, data analytic soluti...",BI/Data Architect,82500.0,bi/data architect,0
27,Seattle,"Rakuten, Inc.","$140,000 a year","Additionally, this position provides an opport...",Software Development Engineer (Machine Learning),140000.0,software development engineer (machine learning),data scientist
28,Seattle,All-In Analytics,"$150,000 - $230,000 a year",Digital Data Scientist. Big Data Mining and An...,Digital Data Scientist,190000.0,digital data scientist,data scientist
29,Seattle,All-In Analytics,"$110,000 - $130,000 a year","Data Scientist, Compensation Analytics. Must b...","Sr. Data Scientist, Compensation Analytics",120000.0,"sr. data scientist, compensation analytics",data analyst
...,...,...,...,...,...,...,...,...
383,San+Francisco,University of California Berkeley,"$67,500 - $81,600 a year",Ensures accuracy and completeness of data in m...,"Database Administrator, GSE",74550.0,"database administrator, gse",0
384,San+Francisco,Workbridge Associates,"$165,000 - $195,000 a year",The role will be working on technology that pr...,"Staff Engineer, Machine Learning (Scala)",180000.0,"staff engineer, machine learning (scala)",data scientist
385,San+Francisco,Jobspring Partners,"$180,000 - $275,000 a year",This is an opportunity to lead a team of talen...,Vice President Engineering (Big Data/ Machine ...,227500.0,vice president engineering (big data/ machine ...,data scientist
386,San+Francisco,LT,"$125,000 a year",We have four QA engineers with three more open...,QA Engineer,125000.0,qa engineer,0
387,San+Francisco,NJF Search,"$140,000 a year",My client is a prop trading firm in SF seeks a...,Equity Research Analyst - US Energy Stocks,140000.0,equity research analyst - us energy stocks,data analyst
388,San+Francisco,Lighthouse Recruiting,"$75,000 - $95,000 a year",Join our Medical Laboratory Scientists Groups:...,Billing Specialist,85000.0,billing specialist,0
389,San+Francisco,Global Placement Firm,$130 - $140 a day,This role is suited for a self-directed Senior...,Senior Web Research Scientist,32000.0,senior web research scientist,data scientist
390,San+Francisco,LT,"$200,000 a year",We have four QA engineers with three more open...,Java Developer,200000.0,java developer,0
391,San+Francisco,Workbridge Associates,"$150,000 - $200,000 a year",Drive creation of best practices and new stand...,Director of Data Science (Mapping),175000.0,director of data science (mapping),data scientist
392,San+Francisco,LT,"$180,000 a year",We have two QA engineers with three more open ...,Erlang Engineer,180000.0,erlang engineer,0
393,San+Francisco,HSF Consulting,"$180,000 a year",Monitor data munging processes- data validatio...,Data Operations Manager,180000.0,data operations manager,0
394,Atlanta,firstPRO,"$100,000 a year","Data scientist, SQL, data anlysis, R:. Fast gr...",Data Scientist / SQL,100000.0,data scientist / sql,data analyst
395,Atlanta,Ga. Dept. of Admin. Services,"$36,000 - $46,000 a year",Statistical Data Analyst. Strong data research...,Statistical Data Analyst,41000.0,statistical data analyst,data analyst
396,Atlanta,Centers for Disease Control and Prevention,"$61,956 - $96,538 a year",As a Health Scientist your will:. In addition ...,Health Scientist,79247.0,health scientist,data scientist
397,Atlanta,Centers for Disease Control and Prevention,"$122,744 - $159,572 a year","As a Supervisory Health Scientist, you will. Q...",Supervisory Health Scientist,141158.0,supervisory health scientist,data scientist
398,Atlanta,Emory University,"$33,400 a year",Compiles data and records results of studies f...,Research Specialist,33400.0,research specialist,data scientist
399,Atlanta,Centers for Disease Control and Prevention,"$74,260 - $114,802 a year",As an Interdisciplinary Health Scientist/ Beha...,Interdisciplinary Health Scientist/ Behavioral...,94531.0,interdisciplinary health scientist/ behavioral...,data scientist
400,Atlanta,"Wismettac Asian Foods, Inc.","$50,794 a year","Wismettac Asian Foods, Inc., (formerly Nishimo...",Market Research Analyst,50794.0,market research analyst,data analyst
401,Atlanta,Emory University,"$56,200 a year",Using an advanced knowledge of research method...,"Asc Dir, Research Projects",56200.0,"asc dir, research projects",data scientist
402,Atlanta,Emory University,"$52,300 a year",Responsible for post-award processing of grant...,Research Financial Analyst (Dept/Sch),52300.0,research financial analyst (dept/sch),data analyst
403,Atlanta,Velossent,"$160,000 a year",Experience with leading teams comprised of Dat...,Director of Data,160000.0,director of data,0
404,Atlanta,Selby Jennings,"$175,000 - $250,000 a year",While statistical modeling is a primary aspect...,Statistical Credit Risk Modeler | Top Performi...,212500.0,statistical credit risk modeler | top performi...,data scientist
405,Atlanta,firstPRO,"$120,000 a year",Growing and highly stable company has an immed...,C++ Developer / Machine Learning,120000.0,c++ developer / machine learning,data scientist
406,Atlanta,CSTE,"$54,182 a year",Skills with developing and presenting epidemio...,Associate Research Analyst,54182.0,associate research analyst,data analyst
407,Atlanta,Smith Hanley Associates,"$65,000 - $110,000 a year",An individual with previous modeling experienc...,Research Statistician - Payment Cards,87500.0,research statistician - payment cards,data scientist
408,Atlanta,JVI,"$55,000 a year",Real Estate Research Analyst - Title Research ...,Real Estate / Title Research Analyst,55000.0,real estate / title research analyst,data analyst
409,Atlanta,Synergy Search Group,"$80,000 a year",Duties will include data conversion from multi...,Audit Snr (Banking) - Data Analysis 60K-80K,80000.0,audit snr (banking) - data analysis 60k-80k,data analyst
410,Atlanta,Smith Hanley Associates,"$75,000 - $100,000 a year",-Business based experience doing data mining a...,Marketing Statistician,87500.0,marketing statistician,data scientist
411,Atlanta,Principle Solutions Group,"$80,000 a year",Working knowledge of data center management co...,DevOps Engineer,80000.0,devops engineer,0
412,Atlanta,Amana Academy Charter School,"$30,000 - $39,999 a year",Accounts Receivables - data entry. Invoice dat...,School Business Manager and Human Resources (HR),34999.5,school business manager and human resources (hr),0

In [15]:
data.title_keywords.unique()

array(['data scientist', 0L, 'data analyst'], dtype=object)