In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
Airports_file  = './assets/Airports.csv'
Airports_facilities_file  = './assets/0-NfdcFacilities.xls.csv'
Airports_runways_file = './assets/0-NfdcRunways.xls.csv'

In [3]:
Airports_df = pd.read_csv(Airports_file)
Airports_facilities_df = pd.read_csv(Airports_facilities_file)
Airports_runways_df = pd.read_csv(Airports_runways_file)

C:\Users\ali\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
Airports_df.head(1)

,Key,LocID,AP_NAME,ALIAS,Facility Type,FAA REGION,COUNTY,CITY,STATE,AP Type,Latitude,Longitude,Boundary Data Available
0,3443.0,STX,HENRY E ROHLSEN,Henry E Rohlsen Int'l Airport,Airport,ASO,-VIRGIN ISLANDS-,CHRISTIANSTED,VI,Public Use,17.701556,-64.801722,Yes

In [5]:
Airports_facilities_df.head(1)

,﻿SiteNumber,Type,LocationID,EffectiveDate,Region,DistrictOffice,State,StateName,County,CountyState,...,AirportPositionSource,AirportPositionSourceDate,AirportElevationSource,AirportElevationSourceDate,ContractFuelAvailable,TransientStorage,OtherServices,WindIndicator,IcaoIdentifier,BeaconSchedule.1
0,50009.*A,AIRPORT,'ADK,1/5/2017,AAL,NONE,AK,ALASKA,ALEUTIANS WEST,AK,...,3RD PARTY SURVEY,00:00.0,3RD PARTY SURVEY,00:00.0,NaN,HGR,CARGO,Y,PADK,SS-SR

In [6]:
Airports_runways_df.head(1)

,﻿SiteNumber,State,RunwayID,RunwayLength,RunwayWidth,RunwaySurfaceTypeCondition,RunwaySurfaceTreatment,PavementClass,RunwayWeightBearingCapacitySW,RunwayWeightBearingCapacityDW,...,ReciprocalEndDisplacedThresholdPositionSource,ReciprocalEndDisplacedThresholdPositionSourceDate,ReciprocalEndDisplacedThresholdElevationSource,ReciprocalEndDisplacedThresholdElevationSourceDate,ReciprocalEndTouchdownZoneElevationSource,ReciprocalEndTouchdownZoneElevationSourceDate,ReciprocalEndTakeOffRunAvailableTORA,ReciprocalEndTakeOffDistanceAvailableTODA,ReciprocalEndAcltStopDistanceAvailableASDA,ReciprocalEndLandingDistanceAvailableLDA
0,00103.*A,AL,'17/35,2900,80,ASPH-G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
airports_facilities_df = Airports_facilities_df[['﻿SiteNumber', 'Type', 'LocationID','Region','State','ARPElevation']]
airports_runways_df = Airports_runways_df[['﻿SiteNumber', 'State', 'RunwayID', 'RunwayLength', 'RunwayWidth',
       'RunwaySurfaceTypeCondition']]
airports_facilities_df.rename(columns={'﻿SiteNumber':'SiteNumber'}, inplace=True)
airports_runways_df.rename(columns={'﻿SiteNumber':'SiteNumber'}, inplace=True)
airports_facilities_df.sort(columns='SiteNumber')
airports_runways_df.sort(columns='SiteNumber')
print airports_facilities_df.shape, airports_runways_df.shape

(19554, 6) (23400, 6)

C:\Users\ali\Anaconda2\lib\site-packages\pandas\core\frame.py:2754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)
C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [8]:
airports_facilities_df.head(2)

  SiteNumber     Type LocationID Region State  ARPElevation
0   50009.*A  AIRPORT       'ADK    AAL    AK            19
1  50016.1*A  AIRPORT       'AKK    AAL    AK            44

In [9]:
airports_runways_df.head(2)

,SiteNumber,State,RunwayID,RunwayLength,RunwayWidth,RunwaySurfaceTypeCondition
0,00103.*A,AL,'17/35,2900,80,ASPH-G
1,00106.*A,AL,'05/23,2644,112,TURF-G

In [17]:
airports_runway_elev_df_ = airports_runways_df.merge(airports_facilities_df,how='left', on='SiteNumber')
airports_runway_elev_df_.to_csv('airports_runway_elev_df_.csv', sep=',')
airports_runway_elev_df_.head()

,SiteNumber,State_x,RunwayID,RunwayLength,RunwayWidth,RunwaySurfaceTypeCondition,Type,LocationID,Region,State_y,ARPElevation
0,00103.*A,AL,'17/35,2900,80,ASPH-G,AIRPORT,'0J0,ASO,AL,469
1,00106.*A,AL,'05/23,2644,112,TURF-G,AIRPORT,'2A8,ASO,AL,786
2,00108.*A,AL,'01/19,2002,60,TURF-G,AIRPORT,'AL03,ASO,AL,369
3,00108.*A,AL,'07/25,1104,60,TURF-G,AIRPORT,'AL03,ASO,AL,369
4,00110.*A,AL,'16/34,5000,75,ASPH-G,AIRPORT,'EET,ASO,AL,585

In [18]:
airports_runway_elev_df_ = airports_runways_df.merge(airports_facilities_df,how='left', on='SiteNumber')
airports_runway_elev_df_ = airports_runway_elev_df_.drop(['State_x', 'State_y','SiteNumber','RunwayID', 
                                                      'RunwaySurfaceTypeCondition','RunwayLength',
                                                     'RunwayWidth','Type','Region'],  axis=1)
airports_runway_elev_df_['Runway_ct'] = 1
airports_runway_elev_df_.LocationID = airports_runway_elev_df_.LocationID.str.replace("'", '')
airports_runway_elev_df_.head(2)

  LocationID  ARPElevation  Runway_ct
0        0J0           469          1
1        2A8           786          1

In [19]:
airports_runway_elev_df = airports_runway_elev_df_.groupby(['LocationID','ARPElevation'],
                                                           as_index=False)['Runway_ct'].count()
airports_runway_elev_df = airports_runway_elev_df.sort_values('Runway_ct',axis=0,ascending=False)
airports_runway_elev_df.head(10)

      LocationID  ARPElevation  Runway_ct
12563        GFK           844         16
15395        NDZ           177         14
13768       LA64             2         11
13494        JRA             7         10
17436        SLN          1288         10
16497        ORD           680          9
13838        LGB            60          9
17682       TA12            10          8
17594        SXS           400          8
1992        1LA9             0          8

* **There are many aiports that despite being a local (very small) airports have many runways. This is because these runways are mostly gravel and not suitable for large planes. These airports will be eliminated when the actual analysis starts since there is no data on them with regards to operations and delays.**

In [13]:
airports_runway_elev_df[airports_runway_elev_df['LocationID'] == 'LAX']

      LocationID  ARPElevation  Runway_ct
13812        LAX           127          4

In [14]:
airports_runway_elev_df.shape, Airports_df.shape

((19554, 3), (5167, 13))

In [15]:
Airports_df.head()

,Key,LocID,AP_NAME,ALIAS,Facility Type,FAA REGION,COUNTY,CITY,STATE,AP Type,Latitude,Longitude,Boundary Data Available
0,3443.0,STX,HENRY E ROHLSEN,Henry E Rohlsen Int'l Airport,Airport,ASO,-VIRGIN ISLANDS-,CHRISTIANSTED,VI,Public Use,17.701556,-64.801722,Yes
1,5088.0,X64,PATILLAS,NaN,Airport,ASO,#NAME?,PATILLAS,PR,Public Use,17.982189,-66.019330,No
2,2886.0,PSE,MERCEDITA,Aeropuerto Mercedita,Airport,ASO,#NAME?,PONCE,PR,Public Use,18.008306,-66.563028,Yes
3,2879.0,VQS,ANTONIO RIVERA RODRIGUEZ,Aeropuerto Antonio Rivera Rodr�guez,Airport,ASO,#NAME?,ISLA DE VIEQUES,PR,Public Use,18.134811,-65.493617,Yes
4,2883.0,X63,HUMACAO,Aeropuerto Regional De Humacao,Airport,ASO,#NAME?,HUMACAO,PR,Public Use,18.138017,-65.800718,Yes

In [20]:
airports_df = Airports_df.merge(airports_runway_elev_df,
                                         how='left', left_on='LocID',
                                        right_on='LocationID')
airports_df = airports_df.drop(['Key', 'AP_NAME','COUNTY', 'CITY', 'Boundary Data Available', 'LocationID'], axis=1)
airports_df.head()

,LocID,ALIAS,Facility Type,FAA REGION,STATE,AP Type,Latitude,Longitude,ARPElevation,Runway_ct
0,STX,Henry E Rohlsen Int'l Airport,Airport,ASO,VI,Public Use,17.701556,-64.801722,74.0,1.0
1,X64,NaN,Airport,ASO,PR,Public Use,17.982189,-66.019330,NaN,NaN
2,PSE,Aeropuerto Mercedita,Airport,ASO,PR,Public Use,18.008306,-66.563028,28.0,1.0
3,VQS,Aeropuerto Antonio Rivera Rodr�guez,Airport,ASO,PR,Public Use,18.134811,-65.493617,49.0,1.0
4,X63,Aeropuerto Regional De Humacao,Airport,ASO,PR,Public Use,18.138017,-65.800718,33.0,1.0

In [22]:
# airports_df.to_csv('Airports_final_df.csv', sep=',')