In [1]:
import pandas as pd
import numpy as np

-----------------------------------------------------
## Age gender buckets

In [2]:
age_gender_df = pd.read_csv('./assets/age_gender_bkts.csv/age_gender_bkts.csv')
print age_gender_df.shape
age_gender_df.head(1)

(420, 5)

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0

In [3]:
pd.pivot_table(age_gender_df,index=['age_bucket'],\
               columns=['country_destination'],values=['population_in_thousands'], aggfunc='sum')

                    population_in_thousands                                  \
country_destination                      AU      CA      DE      ES      FR
age_bucket
0-4                                  1605.0  2036.0  3524.0  2470.0  3973.0
10-14                                1450.0  1912.0  3692.0  2313.0  3879.0
100+                                    5.0     8.0    17.0    12.0    22.0
15-19                                1505.0  2063.0  4050.0  2114.0  3932.0
20-24                                1607.0  2362.0  4427.0  2281.0  3987.0
25-29                                1746.0  2493.0  5088.0  2627.0  4122.0
30-34                                1746.0  2502.0  5198.0  3394.0  4081.0
35-39                                1598.0  2381.0  4850.0  4083.0  3698.0
40-44                                1658.0  2348.0  5192.0  3976.0  4443.0
45-49                                1571.0  2449.0  6882.0  3761.0  4414.0
5-9                                  1529.0  1971.0  3471.0  2542.0  3906.0
50-54                                1576.0  2791.0  7127.0  3460.0  4357.0
55-59                                1453.0  2592.0  5979.0  3010.0  4064.0
60-64                                1296.0  2236.0  5374.0  2551.0  3956.0
65-69                                1166.0  1887.0  4137.0  2370.0  3765.0
70-74                                 853.0  1365.0  4461.0  1920.0  2420.0
75-79                                 636.0   976.0  4353.0  1594.0  2141.0
80-84                                 451.0   740.0  2502.0  1402.0  1849.0
85-89                                 297.0   483.0  1505.0   869.0  1243.0
90-94                                 141.0   221.0   645.0   368.0   629.0
95-99                                  34.0    55.0    88.0    86.0   102.0


country_destination      GB      IT      NL     PT       US
age_bucket
0-4                  3869.0  2851.0   900.0  464.0  21094.0
10-14                3461.0  2856.0  1010.0  554.0  21117.0
100+                   16.0    18.0     2.0    1.0     74.0
15-19                3647.0  2904.0   994.0  543.0  21595.0
20-24                4018.0  3115.0  1031.0  560.0  22695.0
25-29                4335.0  3283.0  1023.0  608.0  22396.0
30-34                4302.0  3605.0  1000.0  733.0  21847.0
35-39                3943.0  4207.0   980.0  833.0  20681.0
40-44                4248.0  4839.0  1165.0  834.0  20467.0
45-49                4650.0  4956.0  1287.0  781.0  21113.0
5-9                  3920.0  2868.0   923.0  514.0  20833.0
50-54                4526.0  4695.0  1282.0  775.0  22426.0
55-59                3916.0  4045.0  1161.0  709.0  21953.0
60-64                3468.0  3629.0  1047.0  649.0  19221.0
65-69                3593.0  3609.0  1045.0  580.0  16044.0
70-74                2695.0  2905.0   726.0  484.0  11457.0
75-79                2144.0  2725.0   541.0  421.0   8173.0
80-84                1557.0  2039.0   389.0  316.0   5836.0
85-89                 967.0  1295.0   229.0  174.0   3900.0
90-94                 455.0   600.0    94.0   64.0   1734.0
95-99                 110.0   101.0    19.0   12.0    476.0

In [21]:
age_gender_df.groupby('country_destination')['population_in_thousands'].agg('sum').head(50)

country_destination
AU     23923.0
CA     35871.0
DE     82562.0
ES     47203.0
FR     64983.0
GB     63840.0
IT     61145.0
NL     16848.0
PT     10609.0
US    325132.0
Name: population_in_thousands, dtype: float64

In [7]:
age_gender_df.describe()

       population_in_thousands    year
count               420.000000   420.0
mean               1743.133333  2015.0
std                2509.843202     0.0
min                   0.000000  2015.0
25%                 396.500000  2015.0
50%                1090.500000  2015.0
75%                1968.000000  2015.0
max               11601.000000  2015.0

In [23]:
age_gender_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 5 columns):
age_bucket                 420 non-null object
country_destination        420 non-null object
gender                     420 non-null object
population_in_thousands    420 non-null float64
year                       420 non-null float64
dtypes: float64(2), object(3)
memory usage: 16.5+ KB

Population_in_thousands column refer to the population of the entire country (divided into age and gender buckets).

In [19]:
age_gender_df['age_bucket'].unique()

array(['100+', '95-99', '90-94', '85-89', '80-84', '75-79', '70-74',
       '65-69', '60-64', '55-59', '50-54', '45-49', '40-44', '35-39',
       '30-34', '25-29', '20-24', '15-19', '10-14', '5-9', '0-4'], dtype=object)

In [22]:
print (len(age_gender_df['country_destination'].unique()))
age_gender_df['country_destination'].unique()

10

array(['AU', 'CA', 'DE', 'ES', 'FR', 'GB', 'IT', 'NL', 'PT', 'US'], dtype=object)

-----------------------------------------------------
## Countries

In [25]:
countries_df = pd.read_csv('./assets/countries.csv/countries.csv')
print coutnries_df.shape
coutnries_df.head()

(10, 7)

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06

In [26]:
countries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
country_destination              10 non-null object
lat_destination                  10 non-null float64
lng_destination                  10 non-null float64
distance_km                      10 non-null float64
destination_km2                  10 non-null float64
destination_language             10 non-null object
language_levenshtein_distance    10 non-null float64
dtypes: float64(5), object(2)
memory usage: 632.0+ bytes

In [27]:
countries_df.describe()

,lat_destination,lng_destination,distance_km,destination_km2,language_levenshtein_distance
count,10.000000,10.000000,10.000000,1.000000e+01,10.00000
mean,39.799398,-4.262446,7181.897800,2.973734e+06,50.49900
std,24.739112,63.700585,3941.141734,4.329619e+06,44.54169
min,-26.853388,-96.818146,0.000000,4.154300e+04,0.00000
25%,39.639090,-6.737559,7001.557600,2.580425e+05,0.00000
50%,44.053092,-0.139014,7603.632650,4.311960e+05,67.91500
75%,51.891219,9.163386,7842.357000,5.966865e+06,91.39500
max,62.393303,133.275160,15297.744000,9.984670e+06,95.45000

In [30]:
print (len(countries_df['destination_language '].unique()))
countries_df['destination_language '].unique()

7

array(['eng', 'deu', 'spa', 'fra', 'ita', 'nld', 'por'], dtype=object)

In [31]:
print (len(countries_df['language_levenshtein_distance'].unique()))
countries_df['language_levenshtein_distance'].unique()

7

array([  0.  ,  72.61,  92.25,  92.06,  89.4 ,  63.22,  95.45])