In [4]:
from lib.project_5 import load_data_from_database, make_data_dict, general_model, general_transformer

# Step 1 - Benchmarking

**NOTE: EACH OF THESE SHOULD BE WRITTEN SOLELY WITH REGARD TO STEP 1 - BENCHMARKING**

### Domain and Data; 
**TODO:** We want to analyze a synthetic - non-linear - dataset called MADELON. This dataset has 2000 rows and 500 features.
### Problem Statement

**TODO:** We want to creat a model to find a benchmark score. The score is "accuracy" and is obtained through a model.

### Solution Statement

**TODO:** We will create a pipeline, to get the data from a sql database, make a data-frame with pandas, split the data and make a dictionary from it, scale and trasform the data, and finally run a logistic regression to get an accuracy score as the benchmark score.

### Metric

**TODO**: As mentioned our metric is the accuracy score.

### Benchmark

**TODO**: The benchmark score is 0.53. The model has 500 features. Through this model none of the features got eliminated.

## Implementation

Implement the following code pipeline using the functions you write in `lib/project_5.py`.

<img src="assets/benchmarking.png" width="600px">

In [5]:
import numpy as np
import pandas as pd

from sqlalchemy import create_engine

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [6]:
madelon_df = load_data_from_database('joshuacook.me', '5432',
                           'dsi', 'madelon', 'dsi_student',
                           'correct horse battery staple')
madelon_df.head()

,index,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499,label
0,0,485,477,537,479,452,471,491,476,475,...,481,477,485,511,485,481,479,475,496,-1
1,1,483,458,460,487,587,475,526,479,485,...,478,487,338,513,486,483,492,510,517,-1
2,2,487,542,499,468,448,471,442,478,480,...,481,492,650,506,501,480,489,499,498,-1
3,3,480,491,510,485,495,472,417,474,502,...,480,474,572,454,469,475,482,494,461,1
4,4,484,502,528,489,466,481,402,478,487,...,479,452,435,486,508,481,504,495,511,1

In [7]:
madelon_df = madelon_df.drop('index', axis = 1)
madelon_df.head()

,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,feat_009,...,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499,label
0,485,477,537,479,452,471,491,476,475,473,...,481,477,485,511,485,481,479,475,496,-1
1,483,458,460,487,587,475,526,479,485,469,...,478,487,338,513,486,483,492,510,517,-1
2,487,542,499,468,448,471,442,478,480,477,...,481,492,650,506,501,480,489,499,498,-1
3,480,491,510,485,495,472,417,474,502,476,...,480,474,572,454,469,475,482,494,461,1
4,484,502,528,489,466,481,402,478,487,468,...,479,452,435,486,508,481,504,495,511,1

In [8]:
madelon_df.shape

(2000, 501)

In [9]:
X = madelon_df.drop('label', axis = 1)
y = madelon_df.label

In [10]:
split_data_dict = make_data_dict(X, y, random_state=42)

In [11]:
split_data_dict["y_train"].shape

(1400L,)

In [12]:
split_data_dict.keys()

['X_test', 'X_train', 'random_state', 'y_train', 'test_size', 'y_test']

In [13]:
final_data = general_transformer(StandardScaler(), split_data_dict)
final_data.keys()

['X_test', 'transformer', 'X_train', 'y_train', 'y_test']

In [14]:
benchmark = general_model(LogisticRegression(), final_data)

In [15]:
benchmark

{'model': LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
           intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
           penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
           verbose=0, warm_start=False),
 'test_score': 0.53000000000000003,
 'train_score': 0.81214285714285717}

In [16]:
len([coef for coef in benchmark['model'].coef_[0] if abs(coef) > 0])

500