In [1]:
from lib.project_5 import load_data_from_database, make_data_dict, general_model, general_transformer

# Step 1 - Benchmarking

**NOTE: EACH OF THESE SHOULD BE WRITTEN SOLELY WITH REGARD TO STEP 1 - BENCHMARKING**

### Domain and Data

**TODO:** Write a simple statement about the domain of your problem and the dataset upon which you will be working. 

### Problem Statement

**TODO:** Write a simple problem statement with regard to benchmarking your work only.

### Solution Statement

**TODO:** Write a simple solution statement with regard to benchmarking your work only.

### Metric

**TODO**: Write a statement about the metric you will be using. This section is global as it will be the metric you will use throughout this project. Provide a brief justification for choosing this metric.

### Benchmark

**TODO**: Write a statement explaining that this is the process by which you identify a benchmark for your project.

## Implementation

Implement the following code pipeline using the functions you write in `lib/project_5.py`.

<img src="assets/benchmarking.png" width="600px">

In [41]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

ImportError: No module named train_test_split

In [ ]:
data_p1 = pd.read_csv('assets/madelon_pt_1.csv')
data_p2 = pd.read_csv('assets/madelon_pt_2.csv')
data_p3 = pd.read_csv('assets/madelon_pt_3.csv')

In [6]:
print data_p1.shape
print data_p2.shape
print data_p3.shape

(700, 502)
(700, 502)
(600, 502)

In [14]:
madelon_df = pd.concat([data_p1, data_p2, data_p3], axis=0)

In [23]:
madelon_df = madelon_df.drop('index', axis = 1)
madelon_df.head()

,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,feat_009,...,feat_491,feat_492,feat_493,feat_494,feat_495,feat_496,feat_497,feat_498,feat_499,label
0,485,477,537,479,452,471,491,476,475,473,...,481,477,485,511,485,481,479,475,496,-1
1,483,458,460,487,587,475,526,479,485,469,...,478,487,338,513,486,483,492,510,517,-1
2,487,542,499,468,448,471,442,478,480,477,...,481,492,650,506,501,480,489,499,498,-1
3,480,491,510,485,495,472,417,474,502,476,...,480,474,572,454,469,475,482,494,461,1
4,484,502,528,489,466,481,402,478,487,468,...,479,452,435,486,508,481,504,495,511,1

In [24]:
madelon_df.shape

(2000, 501)

In [29]:
X = madelon_df.drop('label', axis = 1)
y = madelon_df.label

In [39]:
def data_dict(X, y, test_size=None, random_state=None):
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=ramdom_state, test_size=test_size)
    return {
        'X_train' : X_train,
        'X_test' : X_test,
        'y_train' : y_train,
        'y_test' : y_test,
        'random_state' : random_state,
        'test_size' : test_size
    }

In [44]:
def general_transformet(transformer, data_dict, random_state=None):
    if transformer == 'StandardScaler()':
        transformer.fit(data_dict['X_train'])
    else:
        transform.fit(data_dict['X_train'], data_dict['y_train'])
        
    X_train = transformer.transform(data_dict['X_train'])
    X_test = transformer.transform(data_dict['X_test'])        
        
    return {
        'transformer' : transformer,
        'X_train' : X_train,
        'X_test' : X_test,
        'y_train' : y_train,
        'y_test' : y_test,
    }