# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

This is a dataset of SAT scores of US states (year unknown or it could be average over a period). It has a Rate column, Verabal and Math column. Verbal and Math are averages of the state. Rate most likely is participation rate of eligilble studnets in the state in that year (or period).

At the very end it has average of all states.

##### 2. Does the data look complete? Are there any obvious issues with the observations?

Since the data has no missing values it appears to be complete.

##### 3. Create a data dictionary for the dataset.

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [1]:
import csv
with open("../assets/sat_scores.csv") as a:
    reader = csv.reader(a)
    sat = []
    for row in reader:
        sat.append(row)

##### 5. Print the data

In [2]:
sat

[['State', 'Rate', 'Verbal', 'Math'],
 ['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [22]:
labels = sat[0]
data = sat[1:len(sat)-2]
all_line = sat[len(sat)-1]
data

[['CT', 82, 509, 510],
 ['NJ', 81, 499, 513],
 ['MA', 79, 511, 515],
 ['NY', 77, 495, 505],
 ['NH', 72, 520, 516],
 ['RI', 71, 501, 499],
 ['PA', 71, 500, 499],
 ['VT', 69, 511, 506],
 ['ME', 69, 506, 500],
 ['VA', 68, 510, 501],
 ['DE', 67, 501, 499],
 ['MD', 65, 508, 510],
 ['NC', 65, 493, 499],
 ['GA', 63, 491, 489],
 ['IN', 60, 499, 501],
 ['SC', 57, 486, 488],
 ['DC', 56, 482, 474],
 ['OR', 55, 526, 526],
 ['FL', 54, 498, 499],
 ['WA', 53, 527, 527],
 ['TX', 53, 493, 499],
 ['HI', 52, 485, 515],
 ['AK', 51, 514, 510],
 ['CA', 51, 498, 517],
 ['AZ', 34, 523, 525],
 ['NV', 33, 509, 515],
 ['CO', 31, 539, 542],
 ['OH', 26, 534, 439],
 ['MT', 23, 539, 539],
 ['WV', 18, 527, 512],
 ['ID', 17, 543, 542],
 ['TN', 13, 562, 553],
 ['NM', 13, 551, 542],
 ['IL', 12, 576, 589],
 ['KY', 12, 550, 550],
 ['WY', 11, 547, 545],
 ['MI', 11, 561, 572],
 ['MN', 9, 580, 589],
 ['KS', 9, 577, 580],
 ['AL', 9, 559, 554],
 ['NE', 8, 562, 568],
 ['OK', 8, 567, 561],
 ['MO', 8, 577, 577],
 ['LA', 7, 564, 562],
 ['WI', 6, 584, 596],
 ['AR', 6, 562, 550],
 ['UT', 5, 575, 570],
 ['IA', 5, 593, 603],
 ['SD', 4, 577, 582],
 ['ND', 4, 592, 599]]

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [15]:
states = []
for row in data:
    states.append(row[0])
states

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND']

##### 8. Print the types of each column

In [16]:
#for col in labels:
#   for row in data:
#       t = type(row)
#       print(col, t)
#how to check and make sure all items in a column are of the same type
for i in range(len(labels)):
    print labels[i], type(data[0][i])

State <type 'str'>
Rate <type 'int'>
Verbal <type 'int'>
Math <type 'int'>

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

In [59]:
for a in range(len(data)):
    for i in range(1,4):
        data[a][i] = int(data[a][i])
data

[['CT', 82, 509, 510],
 ['NJ', 81, 499, 513],
 ['MA', 79, 511, 515],
 ['NY', 77, 495, 505],
 ['NH', 72, 520, 516],
 ['RI', 71, 501, 499],
 ['PA', 71, 500, 499],
 ['VT', 69, 511, 506],
 ['ME', 69, 506, 500],
 ['VA', 68, 510, 501],
 ['DE', 67, 501, 499],
 ['MD', 65, 508, 510],
 ['NC', 65, 493, 499],
 ['GA', 63, 491, 489],
 ['IN', 60, 499, 501],
 ['SC', 57, 486, 488],
 ['DC', 56, 482, 474],
 ['OR', 55, 526, 526],
 ['FL', 54, 498, 499],
 ['WA', 53, 527, 527],
 ['TX', 53, 493, 499],
 ['HI', 52, 485, 515],
 ['AK', 51, 514, 510],
 ['CA', 51, 498, 517],
 ['AZ', 34, 523, 525],
 ['NV', 33, 509, 515],
 ['CO', 31, 539, 542],
 ['OH', 26, 534, 439],
 ['MT', 23, 539, 539],
 ['WV', 18, 527, 512],
 ['ID', 17, 543, 542],
 ['TN', 13, 562, 553],
 ['NM', 13, 551, 542],
 ['IL', 12, 576, 589],
 ['KY', 12, 550, 550],
 ['WY', 11, 547, 545],
 ['MI', 11, 561, 572],
 ['MN', 9, 580, 589],
 ['KS', 9, 577, 580],
 ['AL', 9, 559, 554],
 ['NE', 8, 562, 568],
 ['OK', 8, 567, 561],
 ['MO', 8, 577, 577],
 ['LA', 7, 564, 562],
 ['WI', 6, 584, 596],
 ['AR', 6, 562, 550],
 ['UT', 5, 575, 570],
 ['IA', 5, 593, 603],
 ['SD', 4, 577, 582],
 ['ND', 4, 592, 599]]




##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [95]:
State_Rate = {}
State_Verbal = {}
State_Math = {}
for row in data:
    State_Rate[row[0]] = row[1]
    State_Verbal[row[0]] = row[2]
    State_Math[row[0]] = row[3]
print State_Math
print State_Rate
print State_Verbal

#or we can look at it this way

State_Dict = {}
for row in data:
    State_Dict [row[0]] = row[1:]

{'WA': 527, 'DE': 499, 'DC': 474, 'WI': 596, 'WV': 512, 'HI': 515, 'FL': 499, 'WY': 545, 'NH': 516, 'NJ': 513, 'NM': 542, 'TX': 499, 'LA': 562, 'NC': 499, 'ND': 599, 'NE': 568, 'TN': 553, 'NY': 505, 'PA': 499, 'RI': 499, 'NV': 515, 'VA': 501, 'CO': 542, 'AK': 510, 'AL': 554, 'AR': 550, 'VT': 506, 'IL': 589, 'GA': 489, 'IN': 501, 'IA': 603, 'OK': 561, 'AZ': 525, 'CA': 517, 'ID': 542, 'CT': 510, 'ME': 500, 'MD': 510, 'MA': 515, 'OH': 439, 'UT': 570, 'MO': 577, 'MN': 589, 'MI': 572, 'KS': 580, 'MT': 539, 'SC': 488, 'KY': 550, 'OR': 526, 'SD': 582}
{'WA': 53, 'DE': 67, 'DC': 56, 'WI': 6, 'WV': 18, 'HI': 52, 'FL': 54, 'WY': 11, 'NH': 72, 'NJ': 81, 'NM': 13, 'TX': 53, 'LA': 7, 'NC': 65, 'ND': 4, 'NE': 8, 'TN': 13, 'NY': 77, 'PA': 71, 'RI': 71, 'NV': 33, 'VA': 68, 'CO': 31, 'AK': 51, 'AL': 9, 'AR': 6, 'VT': 69, 'IL': 12, 'GA': 63, 'IN': 60, 'IA': 5, 'OK': 8, 'AZ': 34, 'CA': 51, 'ID': 17, 'CT': 82, 'ME': 69, 'MD': 65, 'MA': 79, 'OH': 26, 'UT': 5, 'MO': 8, 'MN': 9, 'MI': 11, 'KS': 9, 'MT': 23, 'SC': 57, 'KY': 12, 'OR': 55, 'SD': 4}
{'WA': 527, 'DE': 501, 'DC': 482, 'WI': 584, 'WV': 527, 'HI': 485, 'FL': 498, 'WY': 547, 'NH': 520, 'NJ': 499, 'NM': 551, 'TX': 493, 'LA': 564, 'NC': 493, 'ND': 592, 'NE': 562, 'TN': 562, 'NY': 495, 'PA': 500, 'RI': 501, 'NV': 509, 'VA': 510, 'CO': 539, 'AK': 514, 'AL': 559, 'AR': 562, 'VT': 511, 'IL': 576, 'GA': 491, 'IN': 499, 'IA': 593, 'OK': 567, 'AZ': 523, 'CA': 498, 'ID': 543, 'CT': 509, 'ME': 506, 'MD': 508, 'MA': 511, 'OH': 534, 'UT': 575, 'MO': 577, 'MN': 580, 'MI': 561, 'KS': 577, 'MT': 539, 'SC': 486, 'KY': 550, 'OR': 526, 'SD': 577}

{'AK': [51, 514, 510],
 'AL': [9, 559, 554],
 'AR': [6, 562, 550],
 'AZ': [34, 523, 525],
 'CA': [51, 498, 517],
 'CO': [31, 539, 542],
 'CT': [82, 509, 510],
 'DC': [56, 482, 474],
 'DE': [67, 501, 499],
 'FL': [54, 498, 499],
 'GA': [63, 491, 489],
 'HI': [52, 485, 515],
 'IA': [5, 593, 603],
 'ID': [17, 543, 542],
 'IL': [12, 576, 589],
 'IN': [60, 499, 501],
 'KS': [9, 577, 580],
 'KY': [12, 550, 550],
 'LA': [7, 564, 562],
 'MA': [79, 511, 515],
 'MD': [65, 508, 510],
 'ME': [69, 506, 500],
 'MI': [11, 561, 572],
 'MN': [9, 580, 589],
 'MO': [8, 577, 577],
 'MT': [23, 539, 539],
 'NC': [65, 493, 499],
 'ND': [4, 592, 599],
 'NE': [8, 562, 568],
 'NH': [72, 520, 516],
 'NJ': [81, 499, 513],
 'NM': [13, 551, 542],
 'NV': [33, 509, 515],
 'NY': [77, 495, 505],
 'OH': [26, 534, 439],
 'OK': [8, 567, 561],
 'OR': [55, 526, 526],
 'PA': [71, 500, 499],
 'RI': [71, 501, 499],
 'SC': [57, 486, 488],
 'SD': [4, 577, 582],
 'TN': [13, 562, 553],
 'TX': [53, 493, 499],
 'UT': [5, 575, 570],
 'VA': [68, 510, 501],
 'VT': [69, 511, 506],
 'WA': [53, 527, 527],
 'WI': [6, 584, 596],
 'WV': [18, 527, 512],
 'WY': [11, 547, 545]}

##### 11. Create a dictionary with the values for each of the numeric columns

In [102]:
#List_of_Dic = [State_Rate, State_Verbal, State_Math]
#Attributes = [Rate, Verbal, Math]
#i = 0
#Master_Dic = {}
#Master_Dic = {for i in range(4):
#                  Master_Dic[Attributes[i]] = List_of_Dic[i]}
#HOW TO CREATE A DIC WITH IN A DIC

Score_Dic = {}
Score_Dic['Rate']= State_Rate.values()
Score_Dic['Verbal']= State_Verbal.values()
Score_Dic['Math'] = State_Math.values()
Score_Dic

{'Math': [527,
  499,
  474,
  596,
  512,
  515,
  499,
  545,
  516,
  513,
  542,
  499,
  562,
  499,
  599,
  568,
  553,
  505,
  499,
  499,
  515,
  501,
  542,
  510,
  554,
  550,
  506,
  589,
  489,
  501,
  603,
  561,
  525,
  517,
  542,
  510,
  500,
  510,
  515,
  439,
  570,
  577,
  589,
  572,
  580,
  539,
  488,
  550,
  526,
  582],
 'Rate': [53,
  67,
  56,
  6,
  18,
  52,
  54,
  11,
  72,
  81,
  13,
  53,
  7,
  65,
  4,
  8,
  13,
  77,
  71,
  71,
  33,
  68,
  31,
  51,
  9,
  6,
  69,
  12,
  63,
  60,
  5,
  8,
  34,
  51,
  17,
  82,
  69,
  65,
  79,
  26,
  5,
  8,
  9,
  11,
  9,
  23,
  57,
  12,
  55,
  4],
 'Verbal': [527,
  501,
  482,
  584,
  527,
  485,
  498,
  547,
  520,
  499,
  551,
  493,
  564,
  493,
  592,
  562,
  562,
  495,
  500,
  501,
  509,
  510,
  539,
  514,
  559,
  562,
  511,
  576,
  491,
  499,
  593,
  567,
  523,
  498,
  543,
  509,
  506,
  508,
  511,
  534,
  575,
  577,
  580,
  561,
  577,
  539,
  486,
  550,
  526,
  577]}

## Step 3: Describe the data

##### 12. Print the min and max of each column

In [73]:
print ('Rate - ', 'Max =', max(State_Rate.values()), 'Min =', min(State_Rate.values()))
print ('Verbal -', 'Max =', max(State_Verbal.values()), 'Min =', min(State_Verbal.values())
print ('Math -', 'Max =', max(State_Math.values()), 'Min =', min(State_Math.values()))

SyntaxError: invalid syntax (<ipython-input-73-1e4455c449ad>, line 2)

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

In [103]:
import numpy as np
columns = [State_Rate, State_Verbal, State_Math]
column_names = ['State_Rate', 'State_Verbal', 'State_Math']
print columns
def stdv (list_dic):
    average = [np.mean([dic_column.values()]) for dic_column in list_dic]
    #sum_dif = [(cell - average) for cell in dic_column for dic_column in list_dic]
    
    print average
    #stdv = 1/len(dic_column.values())
    print average
stdv (columns)

'''
import numpy as np
columns = [State_Rate, State_Verbal, State_Math]
column_names = ['State_Rate', 'State_Verbal', 'State_Math']
def stdv (list_dic):
    averages = [np.mean([dic_column.values()]) for dic_column in list_dic]
    sum_dif = [(cell - average) for cell in dic_column.values() for dic_column in list_dic for average in averages]
    #stdv = 1/len(dic_column.values())
    print sum_dif
stdv (columns)   
'''

[{'WA': 53, 'DE': 67, 'DC': 56, 'WI': 6, 'WV': 18, 'HI': 52, 'FL': 54, 'WY': 11, 'NH': 72, 'NJ': 81, 'NM': 13, 'TX': 53, 'LA': 7, 'NC': 65, 'ND': 4, 'NE': 8, 'TN': 13, 'NY': 77, 'PA': 71, 'RI': 71, 'NV': 33, 'VA': 68, 'CO': 31, 'AK': 51, 'AL': 9, 'AR': 6, 'VT': 69, 'IL': 12, 'GA': 63, 'IN': 60, 'IA': 5, 'OK': 8, 'AZ': 34, 'CA': 51, 'ID': 17, 'CT': 82, 'ME': 69, 'MD': 65, 'MA': 79, 'OH': 26, 'UT': 5, 'MO': 8, 'MN': 9, 'MI': 11, 'KS': 9, 'MT': 23, 'SC': 57, 'KY': 12, 'OR': 55, 'SD': 4}, {'WA': 527, 'DE': 501, 'DC': 482, 'WI': 584, 'WV': 527, 'HI': 485, 'FL': 498, 'WY': 547, 'NH': 520, 'NJ': 499, 'NM': 551, 'TX': 493, 'LA': 564, 'NC': 493, 'ND': 592, 'NE': 562, 'TN': 562, 'NY': 495, 'PA': 500, 'RI': 501, 'NV': 509, 'VA': 510, 'CO': 539, 'AK': 514, 'AL': 559, 'AR': 562, 'VT': 511, 'IL': 576, 'GA': 491, 'IN': 499, 'IA': 593, 'OK': 567, 'AZ': 523, 'CA': 498, 'ID': 543, 'CT': 509, 'ME': 506, 'MD': 508, 'MA': 511, 'OH': 534, 'UT': 575, 'MO': 577, 'MN': 580, 'MI': 561, 'KS': 577, 'MT': 539, 'SC': 486, 'KY': 550, 'OR': 526, 'SD': 577}, {'WA': 527, 'DE': 499, 'DC': 474, 'WI': 596, 'WV': 512, 'HI': 515, 'FL': 499, 'WY': 545, 'NH': 516, 'NJ': 513, 'NM': 542, 'TX': 499, 'LA': 562, 'NC': 499, 'ND': 599, 'NE': 568, 'TN': 553, 'NY': 505, 'PA': 499, 'RI': 499, 'NV': 515, 'VA': 501, 'CO': 542, 'AK': 510, 'AL': 554, 'AR': 550, 'VT': 506, 'IL': 589, 'GA': 489, 'IN': 501, 'IA': 603, 'OK': 561, 'AZ': 525, 'CA': 517, 'ID': 542, 'CT': 510, 'ME': 500, 'MD': 510, 'MA': 515, 'OH': 439, 'UT': 570, 'MO': 577, 'MN': 589, 'MI': 572, 'KS': 580, 'MT': 539, 'SC': 488, 'KY': 550, 'OR': 526, 'SD': 582}]

TypeError: unsupported operand type(s) for -: 'str' and 'list'

In [85]:
import numpy
numpy.std(State_Rate.values())

27.144509573760956

In [41]:
import numpy as np
mean = np.mean(State_Rate.values())
mean

37.659999999999997

In [53]:
mean = np.mean(State_Verbal.values())
mean

531.86000000000001

In [54]:
mean = np.mean(State_Math.values())
mean

531.46000000000004

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.