In [1]:
import pandas as pd
import numpy as np

In [2]:
Airport_operations_04_14 = './assets/_ATADS - Airport Operations 2004-2015.csv'
Airport_passangers_04_14 = './assets/_Passanger Boarding 2004-2014.csv'
Airport_cargo_04_14 = './assets/_Cargo.csv'
Airport_operations = './assets/Airport_operations.csv'

Airport_operations_df = pd.read_csv(Airport_operations)
Airport_operations_04_14_df = pd.read_csv(Airport_operations_04_14)
Airport_passangers_04_14_df = pd.read_csv(Airport_passangers_04_14)
Airport_cargo_04_14_df = pd.read_csv(Airport_cargo_04_14)


print 'Airport_operations_df  :', Airport_operations_df.shape
print '-----------------------------------------------------------'
print 'Airport_operations_04_14_df  :', Airport_operations_04_14_df.shape
print '-----------------------------------------------------------'
print 'Airport_passangers_04_14_df  :', Airport_passangers_04_14_df.shape
print '-----------------------------------------------------------'
print 'Airport_cargo_04_14_df  :', Airport_cargo_04_14_df.shape

Airport_operations_df  : (841, 15)
-----------------------------------------------------------
Airport_operations_04_14_df  : (6623, 11)
-----------------------------------------------------------
Airport_passangers_04_14_df  : (1558, 21)
-----------------------------------------------------------
Airport_cargo_04_14_df  : (133, 22)

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Timing and Delays*

In [3]:
Airport_operations_df.head()

,airport,year,departures for metric computation,arrivals for metric computation,percent on-time gate departures,percent on-time airport departures,percent on-time gate arrivals,average_gate_departure_delay,average_taxi_out_time,average taxi out delay,average airport departure delay,average airborne delay,average taxi in delay,average block delay,average gate arrival delay
0,ABQ,2004,53971,53818,0.8030,0.7809,0.7921,10.38,9.89,2.43,12.10,2.46,0.83,2.55,10.87
1,ABQ,2005,51829,51877,0.8140,0.7922,0.8001,9.60,9.79,2.29,11.20,2.26,0.89,2.34,10.24
2,ABQ,2006,49682,51199,0.7983,0.7756,0.7746,10.84,9.89,2.16,12.33,2.12,0.84,2.66,11.82
3,ABQ,2007,53255,53611,0.8005,0.7704,0.7647,11.29,10.34,2.40,12.95,2.19,1.29,3.06,12.71
4,ABQ,2008,49589,49512,0.8103,0.7844,0.7875,10.79,10.41,2.41,12.32,1.82,1.03,2.79,11.48

In [9]:
len(Airport_operations_df.airport.unique())

77

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Count of Operations*

Columns to be used from this dataframe will be Facility, Calander Year, Total Operations.

In [4]:
airport_operations_04_14_df = Airport_operations_04_14_df
airport_operations_04_14_df.head()

,Facility,Calendar Year,Itinerant Air Carrier,Itinerant Air Taxi,Itinerant General Aviation,Itinerant Military,Itinerant Total,Local Civil,Local Military,Local Total,Total Operations
0,ABE,2004.0,"20,870","19,058","56,624","2,275","98,827","32,851","1,420","34,271","133,098"
1,ABE,2005.0,"19,965","18,056","50,654","1,738","90,413","34,789","1,030","35,819","126,232"
2,ABE,2006.0,"17,613","18,367","45,735","1,447","83,162","37,727",884,"38,611","121,773"
3,ABE,2007.0,"16,668","13,732","44,171",933,"75,504","44,589",472,"45,061","120,565"
4,ABE,2008.0,"11,773","15,102","39,911",873,"67,659","49,663",936,"50,599","118,258"

In [5]:
airport_operations_04_14_df.tail(5)

,Facility,Calendar Year,Itinerant Air Carrier,Itinerant Air Taxi,Itinerant General Aviation,Itinerant Military,Itinerant Total,Local Civil,Local Military,Local Total,Total Operations
6618,Total:,NaN,"158,292,057","120,671,735","193,964,980","15,878,587","488,807,359","154,240,281","15,776,251","170,016,532","658,823,891"
6619,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6620,Report created on Tue Feb 14 13:05:59 EST 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6621,Sources: Air Traffic Activity System (ATADS),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6622,Show data notices.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
airport_operations_04_14_df = airport_operations_04_14_df.drop([6618,6619,6620,6621,6622])
print airport_operations_04_14_df.shape

(6618, 11)

In [7]:
for i, cell in enumerate(airport_operations_04_14_df.Facility):
    if 'Sub-Total' in cell:
        airport_operations_04_14_df = airport_operations_04_14_df.drop(i)
print airport_operations_04_14_df.shape

(6092, 11)

In [8]:
len(airport_operations_04_14_df.Facility.unique())

526

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Number of Passangers per Year*

In [11]:
Airport_passangers_04_14_df.columns

Index([u'Rank', u'RO', u'ST', u'Locid', u'City', u'Airport Name', u'S/L',
       u'Hub', u'04-14 Percentage', u'Total Enplanements',
       u'CY 14 Enplanements', u'CY 13 Enplanements', u'CY 12 Enplanements',
       u'CY 11 Enplanements', u'CY 10 Enplanements', u'CY 09 Boardings',
       u'CY 08 Boardings', u'CY2007 Enplanements', u'CY 2006 Enplanements',
       u'CY 05 Enplanements', u'CY 04 Enplanements'],
      dtype='object')

In [12]:
airport_passangers_04_14_temp_df = Airport_passangers_04_14_df.drop(['Rank', 'RO', 'ST', 'City', 'Airport Name', 'S/L',\
                                                                    'Hub', '04-14 Percentage', 'Total Enplanements'],axis=1)
airport_passangers_04_14_temp_df.columns = ['Locid', '14_Psngr', '13_Psngr', '12_Psngr', '11_Psngr', '10_Psngr', '09_Psngr',\
                                        '08_Psngr', '07_Psngr', '06_Psngr', '05_Psngr', '04_Psngr']
print airport_passangers_04_14_temp_df.shape
airport_passangers_04_14_temp_df.head()

(1558, 12)

,Locid,14_Psngr,13_Psngr,12_Psngr,11_Psngr,10_Psngr,09_Psngr,08_Psngr,07_Psngr,06_Psngr,05_Psngr,04_Psngr
0,ATL,"46,604,273","45,308,407","45,798,928",44414121.0,43130585.0,42280868.0,43761280.0,43236665.0,41352038.0,42402653.0,41123857.0
1,LAX,"34,314,197",32425892,31326268,30528737.0,28857755.0,27439897.0,28861477.0,30113985.0,29357327.0,29372272.0,28925341.0
2,ORD,"33,843,426",32317835,32171795,31892301.0,32171831.0,31135732.0,33683991.0,36521585.0,36825097.0,36720005.0,36100147.0
3,DFW,"30,804,567",29038128,28022904,27518358.0,27100656.0,26663984.0,27219285.0,28482417.0,28627749.0,28079147.0,28063035.0
4,JFK,"26,244,928",25036358,24520981,23664832.0,22934047.0,22710272.0,23620948.0,23401351.0,21071501.0,20260359.0,18586863.0

In [13]:
# non_numeric_columns = ['14_Psngr','13_Psngr','122_Psngr']
# for col in non_numeric_columns:
#     for cell in airport_passangers_04_14_temp_df[col]:
#         print cell, type(cell)
#         float(cell)

In [111]:
c=[]
a = airport_passangers_04_14_temp_df.ix[0][1:][0:2]
print a
e = airport_passangers_04_14_temp_df.ix[1][1:]
c.append(a)
c.append(e)
c

14_Psngr    46,604,273
13_Psngr    45,308,407
Name: 0, dtype: object

[14_Psngr    46,604,273
 13_Psngr    45,308,407
 Name: 0, dtype: object, 14_Psngr     34,314,197
 13_Psngr       32425892
 12_Psngr       31326268
 11_Psngr    3.05287e+07
 10_Psngr    2.88578e+07
 09_Psngr    2.74399e+07
 08_Psngr    2.88615e+07
 07_Psngr     3.0114e+07
 06_Psngr    2.93573e+07
 05_Psngr    2.93723e+07
 04_Psngr    2.89253e+07
 Name: 1, dtype: object]

In [89]:
c=[]
a = [airport_passangers_04_14_temp_df.ix[0][1:]]
e = [airport_passangers_04_14_temp_df.ix[1][1:]]
c.append(a)
c.append(e)
c

[[14_Psngr     46,604,273
  13_Psngr     45,308,407
  12_Psngr     45,798,928
  11_Psngr    4.44141e+07
  10_Psngr    4.31306e+07
  09_Psngr    4.22809e+07
  08_Psngr    4.37613e+07
  07_Psngr    4.32367e+07
  06_Psngr     4.1352e+07
  05_Psngr    4.24027e+07
  04_Psngr    4.11239e+07
  Name: 0, dtype: object], [14_Psngr     34,314,197
  13_Psngr       32425892
  12_Psngr       31326268
  11_Psngr    3.05287e+07
  10_Psngr    2.88578e+07
  09_Psngr    2.74399e+07
  08_Psngr    2.88615e+07
  07_Psngr     3.0114e+07
  06_Psngr    2.93573e+07
  05_Psngr    2.93723e+07
  04_Psngr    2.89253e+07
  Name: 1, dtype: object]]

In [88]:
c=[]
a = airport_passangers_04_14_temp_df.ix[0][1:].values
e = airport_passangers_04_14_temp_df.ix[1][1:].values
c.append(a)
c.append(e)
c

[array(['46,604,273', '45,308,407', '45,798,928', 44414121.0, 43130585.0,
        42280868.0, 43761280.0, 43236665.0, 41352038.0, 42402653.0,
        41123857.0], dtype=object),
 array(['34,314,197', '32425892', '31326268', 30528737.0, 28857755.0,
        27439897.0, 28861477.0, 30113985.0, 29357327.0, 29372272.0,
        28925341.0], dtype=object)]

In [87]:
a = airport_passangers_04_14_temp_df.ix[0][1:]
e = airport_passangers_04_14_temp_df.ix[1][1:]
df = np.array([a,e])
df

array([['46,604,273', '45,308,407', '45,798,928', 44414121.0, 43130585.0,
        42280868.0, 43761280.0, 43236665.0, 41352038.0, 42402653.0,
        41123857.0],
       ['34,314,197', '32425892', '31326268', 30528737.0, 28857755.0,
        27439897.0, 28861477.0, 30113985.0, 29357327.0, 29372272.0,
        28925341.0]], dtype=object)

In [81]:
a = airport_passangers_04_14_temp_df.ix[0][1:]
e = airport_passangers_04_14_temp_df.ix[1][1:]
u = np.concatenate((a,e))
u

array(['46,604,273', '45,308,407', '45,798,928', 44414121.0, 43130585.0,
       42280868.0, 43761280.0, 43236665.0, 41352038.0, 42402653.0,
       41123857.0, '34,314,197', '32425892', '31326268', 30528737.0,
       28857755.0, 27439897.0, 28861477.0, 30113985.0, 29357327.0,
       29372272.0, 28925341.0], dtype=object)

In [85]:
c = []
d = []
a = [airport_passangers_04_14_temp_df.ix[0][1:]]
b = [airport_passangers_04_14_temp_df.ix[0][0]]
print a
bb = b*11
c.append(a)
d = bb
e = [airport_passangers_04_14_temp_df.ix[1][1:]]
f = [airport_passangers_04_14_temp_df.ix[1][0]]
ff = f*11
c.append(e)
d += ff
c, d
# df_ = pd.DataFrame(index=index, columns=columns)

[14_Psngr     46,604,273
13_Psngr     45,308,407
12_Psngr     45,798,928
11_Psngr    4.44141e+07
10_Psngr    4.31306e+07
09_Psngr    4.22809e+07
08_Psngr    4.37613e+07
07_Psngr    4.32367e+07
06_Psngr     4.1352e+07
05_Psngr    4.24027e+07
04_Psngr    4.11239e+07
Name: 0, dtype: object]

([[14_Psngr     46,604,273
   13_Psngr     45,308,407
   12_Psngr     45,798,928
   11_Psngr    4.44141e+07
   10_Psngr    4.31306e+07
   09_Psngr    4.22809e+07
   08_Psngr    4.37613e+07
   07_Psngr    4.32367e+07
   06_Psngr     4.1352e+07
   05_Psngr    4.24027e+07
   04_Psngr    4.11239e+07
   Name: 0, dtype: object], [14_Psngr     34,314,197
   13_Psngr       32425892
   12_Psngr       31326268
   11_Psngr    3.05287e+07
   10_Psngr    2.88578e+07
   09_Psngr    2.74399e+07
   08_Psngr    2.88615e+07
   07_Psngr     3.0114e+07
   06_Psngr    2.93573e+07
   05_Psngr    2.93723e+07
   04_Psngr    2.89253e+07
   Name: 1, dtype: object]],
 ['ATL',
  'ATL',
  'ATL',
  'ATL',
  'ATL',
  'ATL',
  'ATL',
  'ATL',
  'ATL',
  'ATL',
  'ATL',
  'LAX',
  'LAX',
  'LAX',
  'LAX',
  'LAX',
  'LAX',
  'LAX',
  'LAX',
  'LAX',
  'LAX',
  'LAX'])

In [52]:
bb = [str('ali')]*10
ccc = ['gholam']*10
ee = []
bb, ccc
# ee = bb + ccc
ee.append(bb)
ee.append(ccc)
ee

[['ali', 'ali', 'ali', 'ali', 'ali', 'ali', 'ali', 'ali', 'ali', 'ali'],
 ['gholam',
  'gholam',
  'gholam',
  'gholam',
  'gholam',
  'gholam',
  'gholam',
  'gholam',
  'gholam',
  'gholam']]

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Cargo Landed (lbs)*

In [19]:
Airport_cargo_04_14_df.columns

Index([u'Rank', u'FAA Region', u'ADO', u'ST', u'Locid', u'Airport Name',
       u'City', u'Service Level', u'Hub', u'2004-2014 Percentage',
       u'2004-2014 (lbs)', u'2014 (lbs)', u'2013 (lbs)', u'2012 (lbs)',
       u'2011 (lbs)', u'2010 (lbs)', u'2009 (lbs)', u'2008 (lbs)',
       u'2007 (lbs)', u'2006 (lbs)', u'2005 (lbs)', u'2004 (lbs)'],
      dtype='object')

In [17]:
airport_cargo_04_14_df = Airport_cargo_04_14_df

In [ ]:
airport_cargo_04_14_df = Airport_cargo_04_14_df[['FAA Region', 'ST', 'Locid', 'City', 'Airport Name', 'Hub',\
                                                '2004-2014 Percentage', '2004-2014 (lbs)']]
airport_cargo_04_14_df.rename(columns={'2004-2014 Percentage':'04-14 perc. cargo'}, inplace=True)
airport_cargo_04_14_df = airport_cargo_04_14_df.drop(132)
print airport_cargo_04_14_df.shape
airport_cargo_04_14_df#.head(1)

In [18]:
len(airport_cargo_04_14_df.Locid.unique())

133

-----------------------------------------------------------------------------------------------------------------------
### *Airport Operations - Passanger and Cargo (lbs) Ranking*

In [31]:
airport_passangers_ranking_df = Airport_passangers_04_14_df[['RO', 'ST','Locid','City','Airport Name',\
                                                           'Hub','04-14 Percentage','Total Enplanements']]
airport_passangers_ranking_df.rename(columns={'RO':'FAA Region',\
                                            '04-14 Percentage':'04-14 perc. enplanements'}, inplace=True)
airport_passangers_ranking_df = airport_passangers_ranking_df.drop(1557,axis=0)
print airport_passangers_ranking_df.shape
airport_passangers_ranking_df.head(1)

(1557, 8)

,FAA Region,ST,Locid,City,Airport Name,Hub,04-14 perc. enplanements,Total Enplanements
0,SO,GA,ATL,Atlanta,Hartsfield - Jackson Atlanta International,L,6%,"479,413,675"

In [33]:
len(airport_passangers_04_14_df.Locid.unique())

1557