In [1]:
% matplotlib inline
import datetime
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv("Iowa_Liquor_sales_sample_10pct.csv")
print data.columns
print data.shape
data.head()

Index([u'Date', u'Store Number', u'City', u'Zip Code', u'County Number',
       u'County', u'Category', u'Category Name', u'Vendor Number',
       u'Item Number', u'Item Description', u'Bottle Volume (ml)',
       u'State Bottle Cost', u'State Bottle Retail', u'Bottles Sold',
       u'Sale (Dollars)', u'Volume Sold (Liters)', u'Volume Sold (Gallons)'],
      dtype='object')
(270955, 18)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null int64
City                     270955 non-null object
Zip Code                 270955 non-null object
County Number            269878 non-null float64
County                   269878 non-null object
Category                 270887 non-null float64
Category Name            270323 non-null object
Vendor Number            270955 non-null int64
Item Number              270955 non-null int64
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null object
State Bottle Retail      270955 non-null object
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null object
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: float64(4), int64(5), object(9)
memory usage: 37.2+ MB

In [4]:
unwanted_columns = ['City', 'County Number', 'County', 'Item Number', 'Item Description', 'Bottle Volume (ml)', 'Volume Sold (Gallons)']
cleaned_data = data.drop(unwanted_columns, axis = 1)

In [5]:
cols = ["State Bottle Cost", "State Bottle Retail", "Sale (Dollars)"]
for col in cols:
    cleaned_data[col] = cleaned_data[col].apply(lambda x: float(x[1:]))

In [6]:
cleaned_data['Date'] = pd.to_datetime(cleaned_data["Date"], format = "%m/%d/%Y")

In [7]:
cleaned_data = cleaned_data.dropna()
cleaned_data['Category'] = cleaned_data['Category'].astype(int)

In [8]:
cleaned_data.head()

,Date,Store Number,Zip Code,Category,Category Name,Vendor Number,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters)
0,2015-11-04,3717,50674,1051100,APRICOT BRANDIES,55,4.50,6.75,12,81.00,9.0
1,2016-03-02,2614,52807,1011100,BLENDED WHISKIES,395,13.75,20.63,2,41.26,1.5
2,2016-02-11,2106,50613,1011200,STRAIGHT BOURBON WHISKIES,65,12.59,18.89,24,453.36,24.0
3,2016-02-03,2501,50010,1071100,AMERICAN COCKTAILS,395,9.50,14.25,6,85.50,10.5
4,2015-08-18,3654,50421,1031080,VODKA 80 PROOF,297,7.20,10.80,12,129.60,21.0

## Filtering the Data

In [9]:
date_filter = cleaned_data.groupby(by=["Store Number"], as_index = False)
date_filter = date_filter.agg({'Date':[np.min, np.max]})
date_filter.columns = [' '.join(col).strip() for col in date_filter.columns.values]
date_filter.shape

(1400, 3)

In [10]:
lower_cutoff = pd.Timestamp("20150301")
upper_cutoff = pd.Timestamp("20151001")
mask = (date_filter["Date amin"] < lower_cutoff) & (date_filter["Date amax"] > upper_cutoff)
open_stores = date_filter[mask]["Store Number"]
open_stores.count()

1162

In [11]:
filtered_data = cleaned_data[cleaned_data["Store Number"].isin(open_stores)]
filtered_data.head()

,Date,Store Number,Zip Code,Category,Category Name,Vendor Number,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters)
0,2015-11-04,3717,50674,1051100,APRICOT BRANDIES,55,4.50,6.75,12,81.00,9.0
1,2016-03-02,2614,52807,1011100,BLENDED WHISKIES,395,13.75,20.63,2,41.26,1.5
2,2016-02-11,2106,50613,1011200,STRAIGHT BOURBON WHISKIES,65,12.59,18.89,24,453.36,24.0
3,2016-02-03,2501,50010,1071100,AMERICAN COCKTAILS,395,9.50,14.25,6,85.50,10.5
4,2015-08-18,3654,50421,1031080,VODKA 80 PROOF,297,7.20,10.80,12,129.60,21.0

## Aditional Data

In [12]:
filtered_data['Margin'] = (filtered_data['State Bottle Retail'] - filtered_data['State Bottle Cost']) * filtered_data['Bottles Sold']
filtered_data['$ per liter'] = filtered_data['Sale (Dollars)'] / filtered_data['Volume Sold (Liters)']
filtered_data.shape

C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

(256849, 13)

In [13]:
sales = filtered_data
sales.head()

,Date,Store Number,Zip Code,Category,Category Name,Vendor Number,State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Margin,$ per liter
0,2015-11-04,3717,50674,1051100,APRICOT BRANDIES,55,4.50,6.75,12,81.00,9.0,27.00,9.000000
1,2016-03-02,2614,52807,1011100,BLENDED WHISKIES,395,13.75,20.63,2,41.26,1.5,13.76,27.506667
2,2016-02-11,2106,50613,1011200,STRAIGHT BOURBON WHISKIES,65,12.59,18.89,24,453.36,24.0,151.20,18.890000
3,2016-02-03,2501,50010,1071100,AMERICAN COCKTAILS,395,9.50,14.25,6,85.50,10.5,28.50,8.142857
4,2015-08-18,3654,50421,1031080,VODKA 80 PROOF,297,7.20,10.80,12,129.60,21.0,43.20,6.171429

## 2015 Sales

In [14]:
# sales.sort_values(by=["Store Number", "Date"], inplace=True)
# start_date = pd.Timestamp("20150101")
# end_date = pd.Timestamp("20151231")
# mask = (sales['Date'] >= start_date) & (sales['Date'] <= end_date)
# sales_2015 = sales[mask]
# agg_functions = sales_2015.agg({"Sale (Dollars)": [np.sum, np.mean],
#                    "Volume Sold (Liters)": [np.sum, np.mean],
#                    "Margin": np.mean,
#                    "Price per Liter": np.mean,
#                    "Zip Code": lambda x: x.iloc[0], # just extract once, should be the same
#                    })
# sales_2015 = sales_2015.groupby(by=["Store Number"], as_index=False)

In [15]:
sales.sort_values(by=["Store Number", "Date"], inplace=True)
start_date = pd.Timestamp("20150101")
end_date = pd.Timestamp("20151231")
mask = (sales['Date'] >= start_date) & (sales['Date'] <= end_date)
sales_2015 = sales[mask]

C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [16]:
#DO NOT RUN TWICE . RESTART KERNEL.
store_sales_2015 = sales_2015.groupby(by=["Store Number"], as_index=False)
store_sales_2015 = store_sales_2015.agg({"Volume Sold (Liters)": [np.sum, np.mean],
                   "Sale (Dollars)": [np.sum, np.mean],
                   "Margin": [np.sum, np.mean],
                   "$ per liter": np.mean,
                   "Zip Code": lambda x:x.iloc[0]
                   })
store_sales_2015.columns = [' '.join(col).strip() for col in store_sales_2015.columns.values]
store_sales_2015.head()

,Store Number,$ per liter mean,Margin sum,Margin mean,Sale (Dollars) sum,Sale (Dollars) mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,Zip Code <lambda>
0,2106,17.844997,48742.20,92.665779,146038.70,277.640114,9719.85,18.478802,50613
1,2113,18.507700,3109.04,21.149932,9310.22,63.334830,659.85,4.488776,50543
2,2130,16.817589,37229.32,95.215652,111583.91,285.380844,6879.37,17.594297,50703
3,2152,13.020765,2587.53,18.351277,7721.08,54.759433,633.37,4.491986,50469
4,2178,16.053844,8165.70,34.454430,24324.18,102.633671,1917.12,8.089114,52172

 ## Q1 2015/2016 Sales

In [17]:
start_date = pd.Timestamp("20150101")
end_date = pd.Timestamp("20150401")
mask = (sales['Date'] >= start_date) & (sales['Date'] <= end_date)
Q1_2015_sales = sales[mask]

Q1_2015_store_sales = Q1_2015_sales.groupby(by=['Store Number'], as_index=False)
Q1_2015_store_sales = Q1_2015_store_sales.agg({"Volume Sold (Liters)": [np.sum, np.mean],
                   "Sale (Dollars)": [np.sum, np.mean],
                   "Margin": [np.sum, np.mean],
                   "$ per liter": np.mean,
                   "Zip Code": lambda x:x.iloc[0]
                   })
Q1_2015_store_sales.columns = [' '.join(col).strip() for col in store_sales_2015.columns.values]
Q1_2015_store_sales.head()

,S t o r e N u m b e r,$ p e r l i t e r m e a n,M a r g i n s u m,M a r g i n m e a n,S a l e ( D o l l a r s ) s u m,S a l e ( D o l l a r s ) m e a n,V o l u m e S o l d ( L i t e r s ) s u m,V o l u m e S o l d ( L i t e r s ) m e a n,Z i p C o d e < l a m b d a >
0,2106,17.846608,13108.37,101.615271,39287.29,304.552636,2526.10,19.582171,50613
1,2113,19.362130,1041.20,22.634783,3122.63,67.883261,193.48,4.206087,50543
2,2130,17.565430,8108.68,93.203218,24272.57,278.995057,1447.25,16.635057,50703
3,2152,13.993430,668.60,20.893750,2003.46,62.608125,151.74,4.741875,50469
4,2178,16.831544,2110.72,39.824906,6304.59,118.954528,446.21,8.419057,52172

In [33]:
start_date = pd.Timestamp("20160101")
end_date = pd.Timestamp("20160401")
mask = (sales['Date'] >= start_date) & (sales['Date'] <= end_date)
Q1_2016_sales = sales[mask]

Q1_2016_store_sales = Q1_2016_sales.groupby(by=['Store Number'], as_index=False)
Q1_2016_store_sales = Q1_2016_store_sales.agg({"Volume Sold (Liters)": [np.sum, np.mean],
                   "Sale (Dollars)": [np.sum, np.mean],
                   "Margin": [np.sum, np.mean],
                   "$ per liter": np.mean,
                   "Zip Code": lambda x:x.iloc[0]
                   })
Q1_2016_store_sales.columns = [' '.join(col).strip() for col in Q1_2016_store_sales.columns.values]
Q1_2016_store_sales.head()
Q1_2016_store_sales.dtypes

Store Number                   int64
$ per liter mean             float64
Margin sum                   float64
Margin mean                  float64
Sale (Dollars) sum           float64
Sale (Dollars) mean          float64
Volume Sold (Liters) sum     float64
Volume Sold (Liters) mean    float64
Zip Code <lambda>             object
dtype: object

In [34]:
Q1_2016_store_sales.columns.values

array(['Store Number', '$ per liter mean', 'Margin sum', 'Margin mean',
       'Sale (Dollars) sum', 'Sale (Dollars) mean',
       'Volume Sold (Liters) sum', 'Volume Sold (Liters) mean',
       'Zip Code <lambda>'], dtype=object)

In [35]:
Q1_2016_store_sales[Q1_2015_store_sales['S t o r e   N u m b e r'] == 2106]

C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,Store Number,$ per liter mean,Margin sum,Margin mean,Sale (Dollars) sum,Sale (Dollars) mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,Zip Code <lambda>
0,2106,17.969769,10174.68,80.751429,30478.75,241.894841,2116.25,16.795635,50613

In [ ]:
# Q1_2016_store_sales.sort(['Sale'])

In [ ]:
# a = Q1_2016_store_sales['Margin mean']
# a

## Most profitable stores

In [ ]:
Q1_2016_store_sales.sort(['Margin sum'],ascending=False)[['Store Number', 'Margin sum', 'Zip Code <lambda>']].head()

## Income data by zipcode

In [ ]:
# IRS_data = pd.read_csv('14zp16ia.csv')
# IRS_Data.head()

In [ ]:
# amount_null = pd.isnull(IRS_data['Size of adjusted gross income'])
# IRS_Data = IRS_data[amount_null == False]
# IRS_Data = IRS_Data.drop(IRS_Data.index[0])
# IRS_Data['Amount'] = IRS_Data['Amount'].replace('**',np.nan)
# IRS_Data = IRS_Data.dropna()
# IRS_Data['Amount'] = IRS_Data['Amount'].astype(float)
# # for i, x in enumerate(IRS_Data['Amount']):
# #     if '**' in x:
# #         IRS_Data = IRS_Data.drop(IRS_Data.ix[0])
# # IRS_Data.sort(['Amount'], ascending=False)
# for cell in IRS_Data['Size']:
#     if cell == '1under1under 25,000'
# IRS_Data.head(10)

In [36]:
IRS_data = pd.read_csv('HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS).csv')
IRS_data.head()

               Id    Id2    Geography  Estimate; Total:  Under 50K  Over 50K
0     0400000US19     19         Iowa           1236409     579398    657011
1  8600000US50001  50001  ZCTA5 50001               234         94       140
2  8600000US50002  50002  ZCTA5 50002               629        322       307
3  8600000US50003  50003  ZCTA5 50003              2700        924      1776
4  8600000US50005  50005  ZCTA5 50005               335        117       218

In [37]:
IRS_Data = IRS_data.drop(IRS_data.index[0])
IRS_Data['Zip Code <lambda>']=IRS_Data['Id2']
IRS_Data.drop('Id2', axis=1)
IRS_Data.columns.values
IRS_Data['Zip Code <lambda>'].astype(int)
IRS_Data.head()

,Id,Id2,Geography,Estimate; Total:,Under 50K,Over 50K,Zip Code <lambda>
1,8600000US50001,50001,ZCTA5 50001,234,94,140,50001
2,8600000US50002,50002,ZCTA5 50002,629,322,307,50002
3,8600000US50003,50003,ZCTA5 50003,2700,924,1776,50003
4,8600000US50005,50005,ZCTA5 50005,335,117,218,50005
5,8600000US50006,50006,ZCTA5 50006,625,316,309,50006

In [38]:
IRS_Data.dtypes

Id                   object
Id2                   int64
Geography            object
Estimate; Total:      int64
Under 50K             int64
Over 50K              int64
Zip Code <lambda>     int64
dtype: object

-------------------------------------------------------------------------------------------------------------------------------

In [54]:
QQ1_2016_store_sales = Q1_2016_store_sales
QQ1_2016_store_sales = QQ1_2016_store_sales[Q1_2016_store_sales['Zip Code <lambda>'] != '712-2']
QQ1_2016_store_sales['Zip Code <lambda>'].astype(int)
QQ1_2016_store_sales.head()

,Store Number,$ per liter mean,Margin sum,Margin mean,Sale (Dollars) sum,Sale (Dollars) mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,Zip Code <lambda>
0,2106,17.969769,10174.68,80.751429,30478.75,241.894841,2116.25,16.795635,50613
1,2113,17.483024,693.49,18.742973,2065.90,55.835135,177.00,4.783784,50543
2,2130,17.452157,9288.29,79.387094,27856.11,238.086410,1556.90,13.306838,50703
3,2152,12.517597,461.44,15.381333,1376.43,45.881000,140.13,4.671000,50469
4,2178,15.101929,1868.76,32.220000,5588.50,96.353448,520.80,8.979310,52172

In [55]:
QQ1_2016_store_sales['Under 50K'] = np.zeros(len(QQ1_2016_store_sales))
QQ1_2016_store_sales.head()

C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Store Number,$ per liter mean,Margin sum,Margin mean,Sale (Dollars) sum,Sale (Dollars) mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,Zip Code <lambda>,Under 50K
0,2106,17.969769,10174.68,80.751429,30478.75,241.894841,2116.25,16.795635,50613,0.0
1,2113,17.483024,693.49,18.742973,2065.90,55.835135,177.00,4.783784,50543,0.0
2,2130,17.452157,9288.29,79.387094,27856.11,238.086410,1556.90,13.306838,50703,0.0
3,2152,12.517597,461.44,15.381333,1376.43,45.881000,140.13,4.671000,50469,0.0
4,2178,15.101929,1868.76,32.220000,5588.50,96.353448,520.80,8.979310,52172,0.0

In [56]:
for i in range(QQ1_2016_store_sales.shape[0]):
    zips = int(QQ1_2016_store_sales.iloc[i]['Zip Code <lambda>'])
    QQ1_2016_store_sales.iloc[i]['Under 50K'] = IRS_Data[IRS_Data['Id2'] == zips]['Under 50K']

C:\Users\ali\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [57]:
QQ1_2016_store_sales.head()

,Store Number,$ per liter mean,Margin sum,Margin mean,Sale (Dollars) sum,Sale (Dollars) mean,Volume Sold (Liters) sum,Volume Sold (Liters) mean,Zip Code <lambda>,Under 50K
0,2106,17.969769,10174.68,80.751429,30478.75,241.894841,2116.25,16.795635,50613,0.0
1,2113,17.483024,693.49,18.742973,2065.90,55.835135,177.00,4.783784,50543,0.0
2,2130,17.452157,9288.29,79.387094,27856.11,238.086410,1556.90,13.306838,50703,0.0
3,2152,12.517597,461.44,15.381333,1376.43,45.881000,140.13,4.671000,50469,0.0
4,2178,15.101929,1868.76,32.220000,5588.50,96.353448,520.80,8.979310,52172,0.0

In [58]:
QQ1_2016_store_sales['Under 50K'] = Q1_2016_store_sales['Under 50K'].replace('[\[\]]', "")
QQ1_2016_store_sales.head()

KeyError: 'Under 50K'

In [ ]:
A = []
for i in range(Q1_2016_store_sales.shape[0]):
    zips = int(Q1_2016_store_sales.iloc[i]['Zip Code <lambda>'])
#     print zips
    A.append(list(IRS_Data[IRS_Data['Id2'] == zips]['Under 50K'].values))
# Q1_2016_store_sales['Under 50K'] = A
Q1_2016_store_sales.head()

In [ ]:
# pd.merge(IRS_Data, Q1_2016_store_sales,on='Zip Code <lambda>', how='outer')

In [ ]:
# df_new = Q1_2016_store_sales.join(other=IRS_Data, on='Zip Code <lambda>', how='left')
# df_new